// .status-dot {
//     width: 8px;
//     height: 8px;
//     background-color: #198754;
//     border-radius: 50%; // To make it a circle
//     display: inline-block;
//     margin-right: 5px; // Space between dot and text
// }


.status-dot {
    width: 8px;
    height: 8px;
    background-color: #198754;
    border-radius: 50%; // To make it a circle
    display: inline-block;
    margin-right: 5px; // Space between dot and text
  }
  .status-red {
    width: 8px;
    height: 8px;
    background-color: #f11541;
    border-radius: 50%; // To make it a circle
    display: inline-block;
    margin-right: 5px; // Space between dot and text
  }
  // ::ng-deep .mat-column-Fees {
  //   display: flex !important;
  //   justify-content: flex-end !important;
  //   margin-left: -20px;
  // }
  :host ::ng-deep mat-cell{
    min-width: 154px;
  }
  .payment-cell{
    padding-right: 87.5px;
  }
 