<section class="content">
  <div class="content-block">
    <div class="block-header" *ngFor="let breadscrum of breadscrums">
      <!-- breadcrumb -->
      <app-breadcrumb
        [title]="breadscrum.title"
        [items]="breadscrum.items"
        [active_item]="breadscrum.active"
      >
      </app-breadcrumb>
    </div>
    <div class="row clearfix">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="row">
          <div class="col-md-12">
            <div class="">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                  <div class="materialTableHeader">
                    <!-- <div class="left">
                                <ul class="header-buttons-left ms-0">
                                  <li class="tbl-title">
                                    <h2> Active Courses</h2>
                                  </li>
                                  <li class="tbl-search-box">
                                    <label for="search-input"><i class="material-icons search-icon">search</i></label>
                                    <input placeholder="Search" type="text" #filter class="browser-default search-field"
                                      aria-label="Search box" [(ngModel)]="searchTerm" (input)="performSearch()" />
                                  </li>
                                </ul>
                              </div> -->
                    <div class="right">
                      <ul class="tbl-export-btn">
                        <li>
                          <ul class="header-buttons-left ms-0">
                            <li class="tbl-search-box">
                              <label for="search-input"
                                ><i class="material-icons search-icon"
                                  >search</i
                                ></label
                              >
                              <input
                                placeholder="Search"
                                type="text"
                                #filter
                                class="browser-default search-field"
                                aria-label="Search box"
                                [(ngModel)]="searchTerm"
                                (input)="performSearch()"
                              />
                            </li>
                          </ul>
                        </li>
                        <!-- <li class="tbl-header-btn">
                                    <div class="m-l-10" matTooltip="ADD" [routerLink]="['/admin/courses/add-course']">
                                      <button mat-raised-button id="submit">Create</button>
                                    </div>
                                  </li> -->
                        <li class="tbl-header-btn">
                          <div
                            class="m-l-10"
                            [hidden]="!selection.hasValue()"
                            matTooltip="DELETE"
                          >
                            <button
                              mat-mini-fab
                              color="warn"
                              (click)="removeSelectedRows()"
                            >
                              <mat-icon class="col-white">delete </mat-icon>
                            </button>
                          </div>
                        </li>
                        <li>
                          <div class="export-button m-l-10" matTooltip="XLSX">
                            <img
                              src="assets/excel.svg"
                              alt=""
                              (click)="exportExcel()"
                            />
                          </div>
                        </li>
                        <li>
                          <div class="export-button m-l-10" matTooltip="PDF">
                            <img
                              src="assets/pdf (1).svg"
                              alt=""
                              (click)="generatePdf()"
                            />
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="body overflow-auto">
                    <div class="responsive_table">
                      <table
                        mat-table
                        [dataSource]="courseData"
                        matSort
                        class="mat-cell advance-table"
                      >
                        <ng-container matColumnDef="name">
                          <mat-header-cell *matHeaderCellDef mat-sort-header
                            >Course
                          </mat-header-cell>
                          <mat-cell
                            class="name"
                            *matCellDef="let row"
                            (click)="viewCourse(row.id)"
                            ><span class="mobile-label">Course:</span>
                            <span>{{ row.title | titlecase }}</span>
                          </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="code">
                          <mat-header-cell *matHeaderCellDef mat-sort-header
                            >Code
                          </mat-header-cell>
                          <mat-cell
                            *matCellDef="let row"
                            (click)="viewCourse(row.id)"
                            ><span class="mobile-label">Course Code:</span>
                            {{ row.courseCode }}
                          </mat-cell>
                        </ng-container>
                        <!-- <ng-container matColumnDef="creator">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Creator
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let row" (click)=viewCourse(row.id)><span
                                        class="mobile-label">Creator:</span> {{row.Creator}}
                                    </mat-cell>
                                  </ng-container> -->
                        <ng-container matColumnDef="Main Category">
                          <mat-header-cell *matHeaderCellDef mat-sort-header
                            >Main Category
                          </mat-header-cell>
                          <mat-cell
                            *matCellDef="let row"
                            (click)="viewCourse(row.id)"
                          >
                            <span class="mobile-label">Main Category:</span
                            >{{ row.main_category_text }}</mat-cell
                          >
                        </ng-container>
                        <ng-container matColumnDef="Days">
                          <mat-header-cell *matHeaderCellDef mat-sort-header
                            >Days
                          </mat-header-cell>
                          <mat-cell
                            *matCellDef="let row"
                            (click)="viewCourse(row.id)"
                          >
                            <span class="mobile-label">Days:</span
                            >{{ row.course_duration_in_days || 0 }} Day
                          </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="Training Hours">
                          <mat-header-cell *matHeaderCellDef mat-sort-header
                            >Hours
                          </mat-header-cell>
                          <mat-cell
                            *matCellDef="let row"
                            (click)="viewCourse(row.id)"
                          >
                            <span class="mobile-label">Traning Hours:</span
                            >{{ row.training_hours || 0 }} Hours
                          </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="Fees">
                          <mat-header-cell *matHeaderCellDef mat-sort-header
                           class="amount" >Payment
                          </mat-header-cell>
                          <mat-cell
                            *matCellDef="let row"
                            (click)="viewCourse(row.id)" class="payment-cell"
                          >
                            <span class="mobile-label">Payment:</span
                            ><span>$</span> {{ row.fee || 0 }}.00
                          </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="startDate">
                          <mat-header-cell *matHeaderCellDef mat-sort-header
                            >Start Date
                          </mat-header-cell>
                          <mat-cell
                            *matCellDef="let row"
                            (click)="viewCourse(row.id)"
                          >
                            <span class="mobile-label">Start Date:</span>
                            {{ row.sessionStartDate | date }}
                          </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="endDate">
                          <mat-header-cell *matHeaderCellDef mat-sort-header
                            >End Date
                          </mat-header-cell>
                          <mat-cell
                            *matCellDef="let row"
                            (click)="viewCourse(row.id)"
                          >
                            <span class="mobile-label">End Date:</span
                            >{{ row.sessionEndDate | date }}
                          </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="Vendor">
                          <mat-header-cell
                            *matHeaderCellDef
                            mat-sort-header
                            class="compulsory-count-header"
                            >Vendor
                          </mat-header-cell>
                          <mat-cell
                            *matCellDef="let row"
                            (click)="viewCourse(row.id)"
                          >
                            <span class="mobile-label">Vendor:</span
                            >{{ row.vendor }}
                          </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="status">
                          <mat-header-cell
                            *matHeaderCellDef
                            mat-sort-header
                            class="compulsory-count-header"
                            style="width: 400px"
                          >
                            <!-- Adjust the width as needed -->
                            Status
                          </mat-header-cell>
                          <mat-cell
                            *matCellDef="let row"
                            (click)="viewCourse(row.id)"
                          >
                            <span class="mobile-label">Status:</span>
                            <span class="badge badge-solid-green">
                              <span class="status-dot"></span>
                              {{
                                row.status == "active" ? "Approved" : "Pending"
                              }}
                            </span>
                          </mat-cell>
                        </ng-container>

                        <mat-header-row *matHeaderRowDef="displayedColumns">
                        </mat-header-row>
                        <!-- <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row> -->
                        <mat-row
                          *matRowDef="let row; columns: displayedColumns"
                          [style.cursor]="'pointer'"
                          matRipple
                        >
                        </mat-row>
                      </table>

                      <mat-paginator
                        class="paginator rounded-5"
                        #paginator
                        [length]="totalItems"
                        (page)="pageSizeChange($event)"
                        [pageSizeOptions]="pageSizeArr"
                        aria-label="select pagination option"
                      >
                      </mat-paginator>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- 2nd Tab -->
            <!-- <mat-tab class="grid">
                      <ng-template mat-tab-label>
                        <i class="material-icons-two-tone psr-3">grid_on</i>
                        Grid View
                      </ng-template>
                      <div class="row mt-5">
                        <div class="col-md-12">
                          <div class="card">
                            <div class="materialTableHeader">
                              <div class="left">
                                <ul class="header-buttons-left ms-0">
                                  <li class="tbl-title">
                                    <h2>All Courses</h2>
                                  </li>
                                  <li class="tbl-search-box">
                                    <label for="search-input"><i class="material-icons search-icon">search</i></label>
                                    <input placeholder="Search" type="text" #filter class="browser-default search-field"
                                      aria-label="Search box" [(ngModel)]="searchTerm" (input)="performSearch()" />
                                  </li>
                                </ul>
                              </div>
                              <div class="right">
                                <ul class="tbl-export-btn">
                                  <li class="tbl-header-btn">
                                    <div class="m-l-10" matTooltip="ADD" [routerLink]="['/admin/courses/add-course']">
                                      <button mat-mini-fab color="primary">
                                        <mat-icon class="col-white">add</mat-icon>
                                      </button>
                                    </div>
                                  </li>
                                  <li>
                                    <div class="export-button m-l-10" matTooltip="XLSX" (click)="exportExcel()">
                                      <img src="assets/excel.svg" alt="" />
                                    </div>
                                  </li>
                                  <li>
                                    <div class="export-button m-l-10" matTooltip="PDF" (click)="generatePdf()">
                                      <img src="assets/pdf (1).svg" alt="" />
                                    </div>
                                  </li>
                                </ul>
                              </div>
                            </div>
                            <div class="body">
                              <div class="row">
                                <div class="col-md-3" *ngFor="let data of courseData">
                                  <div class="course-card course-card-blog">
                                    <div class="course-card-image" style="cursor: pointer;"
                                      [routerLink]="['/admin/courses/view-course/',data.id]">
                                      <img class="img" src="{{data.image_link || 'assets/noimage.jpg'}}">
                                    </div>
                                    <div class="blog-table">
                                      <div class="post-user mt-3">
                                        <h6 class="mb-xs mt-xs title"> {{data.title |truncate : 25}}</h6>
                                        <p class="text-muted"><time>{{data.training_hours}} Hours</time></p>
                                      </div>
                                      <div class="col">
                                        <p class="course-card-description"
                                          [innerHTML]="data?.course_detailed_description | truncate:30">
                                      </div>
                                      <div class="text-center mb-3">
                                        <button mat-icon-button class="tbl-action-btn"
                                          [routerLink]="['/admin/courses/view-course/',data.id]">
                                          <app-feather-icons [icon]="'eye'" [class]="'tbl-fav-view'"></app-feather-icons>
                                        </button>
                                        <button mat-icon-button class="tbl-action-btn"
                                          [routerLink]="['/admin/courses/edit-course/',data.id]">
                                          <app-feather-icons [icon]="'edit'" [class]="'tbl-fav-edit'"></app-feather-icons>
                                        </button>
                                        <button mat-icon-button class="tbl-action-btn" (click)="delete(data.id)">
                                          <app-feather-icons [icon]="'trash-2'" [class]="'tbl-fav-delete'"></app-feather-icons>
                                        </button>
            
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <mat-paginator class="paginator rounded-5" #paginator [length]="totalItems"
                              (page)="pageSizeChange($event)" [pageSizeOptions]="pageSizeArr"
                              aria-label="select pagination option">
                            </mat-paginator>
                          </div>
                        </div>
                      </div>
                    </mat-tab> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
