.status-dot {
    width: 8px;
    height: 8px;
    background-color: #198754;
    border-radius: 50%; // To make it a circle
    display: inline-block;
    margin-right: 5px; // Space between dot and text
  }
  .status-red {
    width: 8px;
    height: 8px;
    background-color: #f11541;
    border-radius: 50%; // To make it a circle
    display: inline-block;
    margin-right: 5px; // Space between dot and text
  }
  mat-cell, mat-header-cell{ 
    min-width: 130px !important;
  }
  .amount{
    padding-right: 120px !important;
  }
  .payment-cell{
    padding-right: 110px !important;
  }