svg {
    position: absolute;
    fill: #000;
    background-color: white;
    margin-top: -20px;
    margin-left: -15px;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
}
.svg2 svg{
    position: absolute;
    fill: #000;
    background-color: #d3cdcd;
    margin-top: -15px;
    margin-left: -15px;
    border-radius: 10px;
    padding-left: 3px;
    padding-right: 3px;
}
// modal-box styling
::ng-deep .mat-mdc-menu-content {
        margin: 0;
        padding: 8px 20px;
        border-radius: 10px;
        list-style-type: none;
       
}
// modal-box curving
::ng-deep .mat-mdc-menu-panel{
    --mat-menu-container-shape: 12px;
}
.menu-text{
    padding-left: 20px;
}
.admin{
    margin-left: 10px;
    padding: 8px;
    border-radius: 10px;
}
.menu{
    font-size: 16px;
    font-weight: 400;
}
// #submit {
//     // float: right;
//     // margin-left: 50px;
//     margin-bottom: 20px;
//     background: #6777ef;
//     border: none;
//     width: fit-content;
//     height: 40px;
//     padding-bottom: 10px;
//     border-radius: 10px;
//     color: #FFF;
//     font-weight: 700;
// }
.img{
    height:20px;
    width:20px;
}
.status-dot {
    width: 8px;
    height: 8px;
    background-color: #198754;
    border-radius: 50%; // To make it a circle
    display: inline-block;
    margin-right: 5px; // Space between dot and text
  }
  .status-red {
    width: 8px;
    height: 8px;
    background-color: #f11541;
    border-radius: 50%; // To make it a circle
    display: inline-block;
    margin-right: 5px; // Space between dot and text
  }
  ::ng-deep .mat-mdc-tab-body-content{
    overflow-x: auto !important;
  }  