

.thumbnail-img {
    height: 250px;
    width: 600px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 12px;
}

.error{
  padding-left: 20px;
}

#cancel {
    margin-left: 50px;
}
.file-drop-area {
    border: 1px dashed #7c7db3;
    border-radius: 15px;
    position: relative;
    margin-top: 5px;
    transition: 0.2s;
  }
  .file-drop-area button{
    border-radius: 12px;
  }
  .file{
   text-align: center;
  }
  .file-input {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
    opacity: 0;
  }
  .file-msg {
    margin-left: 20px;
    vertical-align: middle;
    font-size: 12px;
    font-weight: 500;
  }
  h5{
    padding-top: 10px;
  }

.file-drop-area1 {
  border: 1px dashed #7c7db3;
  border-radius: 15px;
  position: relative;
  max-width: 100%;
  margin-top: 0px;
  transition: 0.2s;
}
.file-drop-area button{
  border-radius: 12px;
}
.file1{
 text-align: center;
}
.btn{
  margin-top: 6px;
  height: 22px;
}
.file-input1 {
  position: absolute;
  left: 0;
  top: 0;
  height: 60%;
  width: 100%;
  cursor: pointer;
  opacity: 0;
}
.file-msg1 {
  margin-left: 20px;
  vertical-align: middle;
  font-size: 12px;
  font-weight: 500;
}
