.slideshow {
    height: 110%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 15px;
    position: relative;
    z-index: 1;
  }
  .btn {
    width: 100%;
    margin-bottom: 10px;
}
.fb{
    background: #4065B4;
    color: #fff;
}
.google {
    border: 1px solid #DBDBDB;
    cursor: pointer;
}
.linkedin{
  border: 1px solid #DBDBDB;
  cursor: pointer;
  height: 20px;
}

.pointer {
  cursor: pointer;
}
  
  .slideshow img {
    width: 103%;
    height: 100%;
    position: absolute;
    opacity: 0;
    object-fit: cover;
    transition: opacity 1s ease-in-out;
  }
  
  .slideshow img.active {
    opacity: 1;
  }

  .btn-singPass {
    border-radius: 10px;
    border: 1px solid rgba(247, 117, 102, 0.61);
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 15px;
    width: 100%;
    color: #302f2f;
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
  }
  .btn-linkedin {
    border-radius: 10px;
    border: 1px solid rgba(247, 117, 102, 0.61);
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 100%;
    color: #302f2f;
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
  }
  select {
    position: absolute;
    border: none;
    font-size: 16px;
    background: transparent;
    color: black;
    font-weight: 600;
    border-radius: 15px;
    margin-top: -50px;
    height: 30px;
    margin-left: 32%;

  }
  .arrow{
    position: absolute;
    margin-top: -30px;
    margin-left: -95px;
    border: none;
    background: none;
  }
  @media only screen and (max-width: 540px) and (min-width: 280px) {
    select{
      margin-left: 73%;
      margin-top: -40px;
      
    }
  }
  @media only screen and (max-width: 769px) and (min-width: 539px) {
    select{
      margin-left: 38.5%;
      margin-top: -40px;
      
    }
  }
  @media only screen and (max-width: 912px) and (min-width: 768px) {
    select{
      margin-left: 37%;
      margin-top: -50px;
      
    }
  }

  .uglms p{
    margin-left: -187px;
    font-weight: bold; 
    font-size: 12px;
    margin-bottom: 12px;
    white-space: nowrap;
  }
  @media only screen and (max-width: 1024px) and (min-width: 280px) {
    .uglms p {
      margin-left: 0px;
    }
  }
  
  .policy a{
    text-decoration: none;
    color: black; 
    font-size: 10px;
  }
  .terms p{
    // margin-left: 15px;
    display: inline;
  }
  @media only screen and (max-width: 540px) and (min-width: 280px) {
    .terms p{
      margin-left: 0px;
      
    }
  }
  @media only screen and (max-width: 1024px) and (min-width: 768px) {
    .policy{
      margin-top: 15px;
      margin-left: -45px;
      
    }
  }
  @media only screen and (max-width: 1024px) and (min-width: 768px) {
    .powered{
      margin-top: 15px;
      margin-left: -65px;
      
    }
  }
 
  .privacy p{
     display: inline;
  }
  .powered p{
    margin-right: -25px; 
    white-space: nowrap;
    margin-left: 125px;
    font-style: italic;
    color: black;
    font-size: 14px;
  }
  @media only screen and (max-width: 912px) and (min-width: 280px) {
    .powered p{
    margin-left: 0px;
     margin-right: 0px;
     margin-top: 15px;
    }

  }
  .invalid-text {
    color: red;
  }

  .login-btn {
    border: 1px solid rgba(247, 117, 102, 0.61);
    background: none;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 50px;
  }
  /* Hover effect for buttons */
  .login-btn:hover {
    transform: translateY(-5px);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  }
  .login-btn img {
    height: 30px;
  }
  .txt1{
    float: right;
  }

  //adding style for select company button
  .dialog-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 16px;
  }

  .bold-title {
    font-weight: bold;
  }
  
  .full-width {
    width: 100%;
  }

  .terms a{
    font-size: 11px;
    color: #000;
  }
  .ft{
   margin-bottom: 45x;
  }
  .signUpText{
    margin-top: 10px;
    margin-bottom: 10px;

  }
  .empty-placeholder{
    height: 20px;

  }