<div class="auth-container">
  <div class="row auth-main">
    <div class="col-sm-6 px-0 d-none d-sm-block">
      <div class="slideshow">
  <img *ngFor="let image of images; let i = index" 
       [src]="image" 
       [alt]="'Slide ' + i" 
       [class.active]="i === currentIndex">
      </div>
    </div>

    <div class="col-sm-6 auth-form-section">
      <div class="form-section">
        <div class="auth-wrapper">
          <h2 class="welcome-msg mt-4">Register with UAT</h2>
          <p class="auth-signup-text text-muted">Enter details to create your account</p>

          <div class="text-center mt-3">
            <p class="text-muted">
              Already have an account? <a routerLink="/authentication/TMS/signin">Signin</a>
            </p>
          </div>

          <form [formGroup]="signupForm" (ngSubmit)="submitForm()">
            <div *ngFor="let field of fields" class="mb-3">
              <label>{{ field.label }} <span class="mandatory" *ngIf="field.required">*</span></label>
          
              <ng-container [ngSwitch]="field.type">
            
                <mat-form-field *ngSwitchCase="'Text'" appearance="outline" class="example-full-width">
                  <input matInput type="text" [formControlName]="field.label" [placeholder]="field.placeholder || ''">
                </mat-form-field>
          
            
                <mat-form-field *ngSwitchCase="'Email'" appearance="outline" class="example-full-width">
                  <input matInput type="email" [formControlName]="field.label" [placeholder]="field.placeholder || ''">
                </mat-form-field>
          
   
                <mat-form-field *ngSwitchCase="'Number'" appearance="outline" class="example-full-width">
                  <input matInput type="number" [formControlName]="field.label" [placeholder]="field.placeholder || ''">
                </mat-form-field>

                <mat-form-field *ngSwitchCase="'Password'" appearance="outline" class="example-full-width">
                  <input matInput type="password" [formControlName]="field.label" [placeholder]="field.placeholder || ''">
                </mat-form-field>
   
                <mat-form-field *ngSwitchCase="'Date'" appearance="outline" class="example-full-width">
                  <input matInput
                         [matDatepicker]="picker"
                         [formControlName]="field.label"
                         [max]="maxDate"
                         (dateChange)="checkDobValidation(field, $event)"
                         [ngClass]="{'is-invalid': field.isInvalidDob}"
                         [placeholder]="field.placeholder || ''">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
          
                <div *ngIf="field.isInvalidDob" class="text-danger mt-1" style="font-size: 13px;">
                  Invalid date. Please select a past date.
                </div>
       
                <mat-form-field *ngSwitchCase="'Dropdown'" appearance="outline" class="example-full-width">
                  <mat-select [formControlName]="field.label" [placeholder]="field.placeholder || ''">
                    <mat-option *ngFor="let option of field.options" [value]="option">{{ option }}</mat-option>
                  </mat-select>
                </mat-form-field>
          
  
                <div *ngSwitchCase="'radio'" class="radio-group">
                  <mat-radio-group [formControlName]="field.label">
                    <mat-radio-button *ngFor="let option of field.options" [value]="option">
                      {{ option }}
                    </mat-radio-button>
                  </mat-radio-group>
                </div>
          
    
                <div *ngSwitchCase="'Checkbox'" class="checkbox-group">
                  <div *ngFor="let option of field.options">
                    <mat-checkbox (change)="onCheckboxChange($event, field.label)" [value]="option">{{ option }}</mat-checkbox>
                  </div>
                </div>

                <div *ngSwitchCase="'Upload'" class="example-full-width">
                  <mat-form-field appearance="outline" class="example-full-width">
                    <input matInput type="text" [value]="signupForm.get(field.label)?.value?.name || ''" disabled placeholder="No file chosen">
                  </mat-form-field>
                  <input type="file" (change)="onFileChange($event, field.label)" hidden #fileInput>
                  <button mat-raised-button type="button" (click)="fileInput.click()">Choose File</button>
                </div>  
       
                <mat-form-field *ngSwitchDefault appearance="outline" class="example-full-width">
                  <input matInput type="text" [formControlName]="field.label" [placeholder]="field.placeholder || ''">
                </mat-form-field>
              </ng-container>
          
              <mat-error *ngIf="signupForm.get(field.label)?.hasError('required') && signupForm.get(field.label)?.touched">
                {{ field.label }} is required.
              </mat-error>
          
              <mat-error *ngIf="signupForm.get(field.label)?.hasError('email') && signupForm.get(field.label)?.touched">
                Enter a valid email.
              </mat-error>
          
              <mat-error *ngIf="signupForm.get(field.label)?.hasError('pattern') && signupForm.get(field.label)?.touched">
                Enter a valid value.
              </mat-error>
          
              <mat-error *ngIf="signupForm.get(field.label)?.hasError('minlength') && signupForm.get(field.label)?.touched">
                {{ field.label }} must be at least {{ field.minLength }} characters.
              </mat-error>
          
              <mat-error *ngIf="signupForm.get(field.label)?.hasError('maxlength') && signupForm.get(field.label)?.touched">
                {{ field.label }} must be no more than {{ field.maxLength }} characters.
              </mat-error>
          
              <mat-error *ngIf="signupForm.get(field.label)?.hasError('strongPassword') && signupForm.get(field.label)?.touched">
                Password must contain uppercase, lowercase, number, and special character.
              </mat-error>
 
              <mat-error *ngIf="field.label === 'Confirm Password' && signupForm.get(field.label)?.hasError('mismatch') && signupForm.get(field.label)?.touched">
                Passwords do not match.
              </mat-error>
            </div>
          
            <div class="container-auth-form-btn">
              <button mat-raised-button color="primary" type="submit" [disabled]="signupForm.invalid">
                Sign Up
              </button>
            </div>
          </form>
          
          
        </div>
      </div>
    </div>
  </div>
</div>
