<div class="auth-container">
  <div class="row auth-main">
    <div class="col-sm-6 px-0 d-none d-sm-block">
      <div class="slideshow">
        <img *ngFor="let image of images; let i = index" [src]="'' + image" [alt]="'Psa-login' + (i + 1)"
          [class.active]="i === currentIndex">
      </div>
    </div>
    <div class="col-sm-6 auth-form-section">
      <div class="form-section">
        <div class="auth-wrapper">
          <h2 class="welcome-msg mt-4"> {{"Register with TMS" | translate}} 
            <!-- <span *ngIf="tmsUrl">TMS</span>
            <span *ngIf="lmsUrl">LMS</span> -->
 </h2>
          <select (change)="setLanguage($event)">
            <option *ngFor="let item of listLang" [value]="item.lang">
              {{item.text}}
            </option>
          </select>
          <p class="auth-signup-text text-muted">{{"Enter details to create your account" | translate}}</p>
          <div class="flex-sb-m w-full text-center mb-3">
            <div>
              <span style="font-style: italic;">{{"Already Registered?" | translate}} 
                <a (click)="signin()"
                class="sign-up-link pointer">{{"Sign in" | translate}}
              </a>
              </span>
            </div>
          </div>
          <form class="validate-form" [formGroup]="authForm" (ngSubmit)="onSubmit()">
            <div class="row">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>{{"Name" | translate}}</mat-label>
                  <input matInput formControlName="name" required>
                  <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>face</mat-icon>
                  <mat-error *ngIf="authForm.get('name')?.hasError('required')">
                    {{"Enter Name " | translate}}
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-12col-lg-12 col-md-12 col-sm-12 mb-2">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>{{"Email" | translate}}</mat-label>
                  <input matInput formControlName="email" required>
                  <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>mail</mat-icon>
                  <mat-error *ngIf="authForm.get('email')?.hasError('required') || authForm.get('email')?.touched">
                    {{"Please enter a valid email address" | translate}}
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
           <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
              <mat-form-field
                class="example-full-width"
                appearance="outline"
              >
              <mat-label>{{"Gender" | translate}}</mat-label>
                <mat-select formControlName="gender" required>
                  <mat-option [value]="'male'">{{"Male" | translate}}</mat-option>
                  <mat-option [value]="'female'"> {{"Female" | translate}} </mat-option>
                  <mat-option [value]="'other'"> {{"Other" | translate}} </mat-option>
                </mat-select>
                <mat-error
                  *ngIf="authForm.get('gender')?.hasError('required')"
                >
                  {{"Enter Gender" | translate}}
                </mat-error>
              </mat-form-field>
            </div>
           </div>
            <div class="row">
              <div class="col-xl-12col-lg-12 col-md-12 col-sm-12 mb-2">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>{{"Password" | translate}}</mat-label>
                  <input matInput formControlName="password" [type]="hide ? 'password' : 'text'" required>
                  <mat-icon matSuffix (click)="hide = !hide">
                    {{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  <mat-error *ngIf="authForm.get('password')?.hasError('required')">
                    {{"Enter Password" | translate}}
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-12col-lg-12 col-md-12 col-sm-12 mb-2">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>{{"Confirm Password" | translate}}</mat-label>
                  <input matInput formControlName="cpassword" [type]="chide ? 'password' : 'text'" required>
                  <mat-icon matSuffix (click)="chide = !chide">
                    {{chide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  <mat-error *ngIf="authForm.get('cpassword')?.hasError('required')">
                    {{"Confirm Enter Password" | translate}}
                  </mat-error>
                  <mat-error *ngIf="authForm.get('cpassword')?.hasError('confirmedValidator')">
                    Password and Re-Enter Password must be match
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div  class="invalid-text"*ngIf="submitted" >
              {{email}}
                </div>
            <div class="container-auth-form-btn">
              <button mat-raised-button color="primary" class="auth-form-btn" [disabled]="!authForm.valid "
                type="submit">
                {{"Register" | translate}}
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>

  </div>
</div>
