  select {
    position: absolute;
    border: none;
    font-size: 16px;
    background: transparent;
    color: black;
    font-weight: 600;
    border-radius: 15px;
    margin-top: -50px;
    height: 30px;
    margin-left: 32%;
  }
  .slideshow {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 15px;
    position: relative;
    z-index: 1;
  }

  .pointer {
    cursor: pointer;
  }
  .custom{

    width: 500px;
  }
  .invalid-text {
    color: red;
    padding:5px;
  }
  ngx-intl-tel-input {
    width: 500px; /* Set your desired width */
  }
  
  .slideshow img {
    width: 103%;
    height: 100%;
    position: absolute;
    opacity: 0;
    object-fit: cover;
    transition: opacity 1s ease-in-out;
  }
  
  .slideshow img.active {
    opacity: 1;
  }
 .text-center{
  margin-top: -30px;
 }
// .password-error-shown {
//   padding-top: 110px; 
// }

.error-list {
  padding-left: 20px;
  margin: 0;
}

.error-list li {
  color: red;
  // font-size: 14px;
  line-height: 1.5;
}

mat-error {
  display: block; 
  margin-bottom: 16px; 
}
.password-error-shown {
  margin-top: 0; /* Default spacing */
  transition: margin 0.3s ease-in-out;
}

.password-error-shown.error-visible {
  margin-top: 110px ; 
  transition: margin 0.3s ease-in-out;
}
// .error-visible {
//   margin-top: 100px; /* Increase spacing only when password strength error appears */
//   transition: margin 0.3s ease-in-out;
// }