
.red-text {
    color: red;
}

.green-text {
    color: green;
}

.text {
    margin-left: 15px;
}

.top {
    vertical-align: top;
}

.discount {
    background-color: #e0dfdf;
    border: 1px solid black;
}

.kit {
    font-size: 16px;
    font-weight: 700;
    margin-left: 5px;
    align-items: center;
}

.icon {
    font-size: 16px;
    margin-top: 2px;
    font-weight: 100;
    color: #8b8989;
}

.dis_font {
    font-size: 10px;
    margin-left: 3px;
}

.day_font {
    font-size: 25px;
    font-weight: 600;
}

.pointer {
    cursor: pointer;
}

.duration {
    font-size: 12px;
}

.video-container {
    position: relative;
    display: inline-block;
    width: 100%;
    box-shadow: #2c2c2c;
}

.play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60px;
    height: 60px;
    background: url('../../../assets/playbtn.png') no-repeat center center;
    background-size: contain;
    cursor: pointer;
    z-index: 1;
    opacity: 20%;
}

button,
input {
    font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
}

a {
    color: #f96332;
    text-decoration: none;
}

a:hover,
a:focus {
    color: #f96332;
}

p {
    line-height: 1.61em;
    font-weight: 300;
    font-size: 1.2em;
}

.category {
    text-transform: capitalize;
    font-weight: 700;
    color: #9A9A9A;
}

body {
    color: #2c2c2c;
    font-size: 14px;
    font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
    overflow-x: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

@media screen and (max-width: 480px) {
    .register-button {
        width: 90%;  
        font-size: 14px;  
        padding: 8px 12px;
        margin: auto;  
        display: block;
    }
    
    .button-container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}
@media screen and (max-width: 768px) {
    .course-details-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 10px;
    }

    .course-details-container .details-box {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
    }

    .course-details-container .about-section {
        width: 100%;
        text-align: center;
    }

    .course-details-container .about-section .fee {
        font-size: 18px;
        font-weight: bold;
    }
}

iframe {
    overflow-y: clip;
    border: none;
    background: white;
}

.meeting-link {
    color: #f96332;
    text-decoration: none;
}

.text-green{
    color: #008000;
}
.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Adjust as needed */
  }
  