.navbar-brand img{
    height: 30px;
    width: auto;
    margin-top: 2px;
}
select{
    width: fit-content;
    height: 51px;
    background: transparent;
    color: black;
    border: none;
    padding: 0px 10px;
    margin-right: 10px;
    font-weight: 600;
}


 select:hover {
    background: rgba(226, 227, 230, 0.829);
    cursor: pointer;
    border-radius: 12px;
}

.mat-list {
  text-align: left;
  border: none;
}
.align-left{
text-align: left;
}


::ng-deep .mat-mdc-menu-panel{
  border-radius: 15px!important;
  max-width: 550px !important;
}
.menu-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
}

.single-item {
  grid-template-columns: 1fr;
  justify-content: center;
}

.two-items {
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
}
.user-container {
  display: contents;
}

.user-options {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  text-align: center;
}

.user-image {
  width: 105px;
  height: 94px;
  margin-right: 15px;
}

.menu-title {
  width: 100%;
  margin: 0;
  text-align: center;
  margin-left: 10px;
}



.gmail{
  margin-top: 2px;
}


.mat-badge-medium .mat-badge-content {
  width: 20px !important;
  height: 20px !important;
  line-height: 22px !important;
}

.mat-badge-medium.mat-badge-above .mat-badge-content {
  top: -4px !important;
}