<nav #navbar class="navbar active">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" onClick="return false;" class="navbar-toggle collapsed"
        (click)="isNavbarCollapsed = !isNavbarCollapsed" aria-expanded="false"></a>
      <a href="#" onClick="return false;" class="bars" (click)="mobileMenuSidebarOpen($event,'overlay-open')"></a>
      <a class="navbar-brand" routerLink={{homePage}}>
        <img src="{{logoImage}}" alt="" />
        <span class="logo-name">{{logoTitle}}</span>
      </a>
    </div>
    <div class="collapse navbar-collapse" [ngClass]="isNavbarCollapsed ? '' : 'show'">
      <ul class="float-start collapse-menu-icon">
        <li>
          <button mat-button (click)="callSidemenuCollapse()" class="sidemenu-collapse nav-notification-icons"> <i
              class="material-icons-outlined icon-color">
              menu
            </i></button>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="gmail">
          <a routerLink="/email/inbox" title="Inbox" routerLinkActive="active">
            <button mat-button class="nav-notification-icons" style="margin-top: 6px;
          margin-bottom: -8px;"> <i class="material-icons-outlined icon-color">
                email
              </i></button>
          </a>

        </li>
        <!-- Full Screen Button -->
        <li class="fullscreen">
          <button mat-button class="nav-notification-icons" (click)="callFullscreen()"> <i
              class="material-icons-outlined icon-color">
              fullscreen
            </i></button>
        </li>
        <!-- #END# Full Screen Button -->
        <!-- #START# Notifications-->
        <li>
          <button mat-button [matMenuTriggerFor]="notificationMenu" class="nav-notification-icons"> <i
              class="material-icons-outlined icon-color">
              notifications_active
            </i></button>
          <mat-menu #notificationMenu="matMenu" class="nfc-menu">
            <div class="nfc-header">
              <h5 class="mb-0">Notitications</h5>
              <!-- <a class="nfc-mark-as-read">Mark all as read</a> -->
            </div>
            <div class="nfc-dropdown">
              <ng-scrollbar style="height: 350px" visibility="hover">
                <div class="noti-list header-menu">
                  <div class="menu">
                    <!-- <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                      <p>A title with a text under</p>
                      <button mat-raised-button color="primary" (click)="showWithTitleMessage()">CLICK
                        ME</button>
                    </div> -->
                    <!-- <div>
                      <button mat-menu-item *ngFor="let notification of notifications" onClick="return false;"
                        [ngClass]="[notification.status]">
                        <span class="table-img msg-user ">
                          <i class="material-icons-two-tone nfc-type-icon"
                            [ngClass]="[notification.color]">{{notification.icon}}</i>
                        </span>
                        <span class="menu-info">
                          <span class="menu-title">{{notification.message}}</span>
                          <span class="menu-desc mt-2">
                            <i class="material-icons">access_time</i> {{notification.time}}
                          </span>
                        </span>
                        <span class="nfc-close">
                          <app-feather-icons [icon]="'x'" [class]="'user-menu-icons'"></app-feather-icons>
                        </span>
                      </button>
                    </div> -->
                    <!-- <div class="row">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="card">
                          <div class="header">
                            <h2>Announcement </h2>
                          </div>
                          <div class="body">
                            <h6>Simple Dialog With Action Button</h6>
                            <br>
                            <button mat-raised-button color="primary" (click)="dialog()">Click Me To Open Dialog</button>
                          </div>
                        </div>
                      </div>
                    </div> -->

                    <div>
                      <button class="mat-list" *ngFor="let notification of announcements">
                        <span class="table-img msg-user ">
                          <i class="material-icons-two-tone nfc-type-icon" [ngClass]="[color]">{{icon}}</i>
                        </span>
                        <span class="menu-info ">
                          <span class="menu-title mt-1"
                            (click)="showCustomHtml(notification)">{{notification.subject}}</span>
                        </span>
                        <span class="nfc-close ">
                          <app-feather-icons [icon]="'x'" [class]="'user-menu-icons'"
                            (click)="cancel(notification.id)"></app-feather-icons>
                        </span>
                      </button>
                    </div>
                  </div>
                </div>
              </ng-scrollbar>
            </div>
            <div class="nfc-footer">
              <a class="nfc-read-all">Close</a>
            </div>
          </mat-menu>
        </li>
        <!-- #END# Notifications-->
        <li>

          <select (change)="setLanguage($event)">
            <option *ngFor="let item of listLang" [value]="item.lang">
              {{item.text}}
            </option>
          </select>

        </li>
        <li>

          <button mat-button  *ngIf="checkViewSettings(role)"[matMenuTriggerFor]="menu">
            <app-feather-icons [icon]="'settings'" [class]="'user-menu-icons'"></app-feather-icons>
          </button>
          <mat-menu #menu="matMenu" class="horizontal-menu">
            <div class="menu-row">
              <div class="user-container">
                <div class="user-option" *ngIf="role===commonRoles.ADMIN_USERTYPE" (click)="navigateToUserSettings()">
                  <img src="assets/images/settings/role.png" alt="User" class="user-image">
                  <button mat-menu-item>
                    <h5>Manage Users</h5>
                  </button>
                </div>
                <div class="user-container">
                  <div class="user-option" (click)="navigateToCustomsSettings()" style="margin-left: 10px;">
                    <img src="assets/images/settings/custom.png" alt="Custom" class="user-image">
                    <button mat-menu-item>
                      <h5>Customize</h5>
                    </button>
                  </div>
                </div>
                <div class="user-option" *ngIf="role===commonRoles.ADMIN_USERTYPE || role ===commonRoles.ACCESSOR_ROLE" (click)="navigateToConfigSettings()" style="margin-left: 25px;">
                  <img src="assets/images/settings/system-configuration1.png" alt="User" class="user-image">
                  <button mat-menu-item>
                    <h5>Configuration</h5>
                  </button>

                  <!-- <img src="assets/images/settings/lms.png" alt="Custom" class="user-image">
                  <button mat-menu-item><h5>LMS TAE</h5></button> -->
                </div>
                
              </div>
            </div>

            <div class="menu-row" *ngIf="role===commonRoles.ADMIN_USERTYPE">
              <div class="user-options" (click)="navigateToIntegrateSettings()">
                <img src="assets/images/settings/integrate.jpg" alt="Custom" class="user-image">
                <button mat-menu-item>
                  <h5>Integration</h5>
                </button>
              </div>
              <div class="user-options" (click)="navigateToProfileSettings()">
                <img src="assets/images/settings/security1.png" alt="User" class="user-image">
                <button mat-menu-item>
                  <h5>Security</h5>
                </button>
              </div>
              <div class="user-options" (click)="navigateToAutomateSettings()">
                <img src="assets/images/settings/automate1.png" alt="User" class="user-image">
                <button mat-menu-item>
                  <h5>Automation</h5>
                </button>
              </div>
            </div>
            <!-- <div class="menu-row">
              <div class="user-container" (click)="navigateToConfigSettings()">
                <div class="user-option">
                  <img src="assets/images/settings/system-configuration1.png" alt="User" class="user-image">
                  <button mat-menu-item><h5>Configuration</h5></button>
                </div>
              </div>
            </div> -->
          </mat-menu>
          <!-- <button mat-menu-item class="user-item-list" (click)="onClick()" >
            <app-feather-icons [icon]="'settings'" [class]="'user-menu-icons'"></app-feather-icons>
          </button> -->
        </li>
        <li class="nav-item user_profile">
          <button mat-button [matMenuTriggerFor]="profilemenu">
            <div class="chip dropdown-toggle" ngbDropdownToggle class="pt-0">
              <!-- <img [src]="userImg || '../../../assets/profile.png'" class="user_img" width="32" height="32" alt="User Image" /> -->
              <img [src]="userProfile || '../../../assets/profile.png'" class="user_img" width="32" height="32"
                alt="User Image" />

              <span>{{userFullName}}</span>

            </div>
          </button>
          <mat-menu #profilemenu="matMenu" class="profile-menu">
            <div class="noti-list">
              <div class="menu ">
                <div class="user_dw_menu">
                  <button mat-menu-item class="user-item-list" [routerLink]="['/student/settings/account-settings']">
                    <app-feather-icons [icon]="'user'" [class]="'user-menu-icons'"></app-feather-icons>User Information
                  </button>
                  <button mat-menu-item class="user-item-list" [routerLink]="['/student/settings/security-settings']">
                    <app-feather-icons [icon]="'lock'" [class]="'user-menu-icons'"></app-feather-icons>Change Password
                  </button>
                  <!-- <button mat-menu-item class="user-item-list" (click)="onClick()" >
                    <app-feather-icons [icon]="'settings'" [class]="'user-menu-icons'"></app-feather-icons>Settings
                  </button> -->
                  <button mat-menu-item (click)="logout()" class="user-item-list">
                    <app-feather-icons [icon]="'log-out'" [class]="'user-menu-icons'"></app-feather-icons>Logout
                  </button>
                </div>
              </div>
            </div>
          </mat-menu>
        </li>
        <!-- #END# Tasks -->
      </ul>
    </div>
  </div>
</nav>