.navbar-brand img{
    height: 30px;
    width: auto;
    margin-top: 2px;
}
select{
    width: fit-content;
    height: 51px;
    background: transparent;
    color: black;
    border: none;
    padding: 0px 10px;
    margin-right: 10px;
    font-weight: 600;
}


 select:hover {
    background: rgba(226, 227, 230, 0.829);
    cursor: pointer;
    border-radius: 12px;
}

// .mat-mdc-menu-content {
//   width: 100%;
// }

.mat-list {
  text-align: left;
  border: none;
}
// .nfc-menu.nfc-dropdown.menu button {
//   height: 74px;
// }

.align-left{
text-align: left;
}


::ng-deep .mat-mdc-menu-panel{
  border-radius: 15px!important;
  max-width: 550px !important;
}

// .menu-row {
//   display: grid;
//   grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
//   justify-content: center;
//   width: 100%;
// }

// .single-item .menu-row {
//   grid-template-columns: 1fr;
// }

// .user-container {
//   display: contents;
// }

// .user-options {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   cursor: pointer;
// }

// .user-image {
//   width: 80px;
//   height: 80px;
// }

// .menu-title {
//   text-align: center;
// }
.menu-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  // gap: 30px;
  justify-content: center;
}

.single-item {
  grid-template-columns: 1fr;
  justify-content: center;
}

.two-items {
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
}
.user-container {
  display: contents;
}

.user-options {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  text-align: center;
}

.user-image {
  width: 105px;
  height: 94px;
  margin-right: 15px;
}

.menu-title {
  width: 100%;
  margin: 0;
  text-align: center;
  margin-left: 10px;
}



.gmail{
  margin-top: 2px;
}
