<section class="content" *ngIf="!superAdmin" >
  <div class="content-block">
    <div class="block-header" *ngFor="let breadscrum of breadscrums">
      <!-- breadcrumb -->
      <app-static-breadcrumb [title]="breadscrum.title" [items]="breadscrum.items" [active_item]="breadscrum.active">
      </app-static-breadcrumb>
    </div>

    
<mat-tab-group>
  <ng-container *ngFor="let dashboard of dashboards">
  <mat-tab *ngIf=" dashboard.id === 'trainee-analytics'">
    <ng-template mat-tab-label>
      {{commonRoles.STUDENT_ROLE}} Analytics
    </ng-template>
    <div class="row mt-5">
        <ng-container *ngFor="let component of dashboard.components">
          <div  *ngIf="component.id === 'total-trainees'" class="col-lg-4 col-md-4 col-sm-12" >
            <div class="card card-statistic-2">
              <div class="clearfix">
                <div class="card-icon-only shadow-primary float-start">
                  <img src="assets/images/banner/New Students.jpg" alt="" style="margin-left: -21px;">
                </div>
                <div class="card-right">
                  <div>
                    <h5 class="float-end" style="margin-top: 100px;">Total {{commonRoles.STUDENT_ROLE}}s</h5>
                  </div>
                  <div class="col-green" routerLink="/student/settings/all-user/all-students" style="cursor: pointer;">
                    <h3 class="font-weight-bold float-end mb-0">{{count?.students}}</h3>
                  </div>
                </div>
              </div>
              <!-- <div class="card-content msl-4 mb-3">
                <p class="m-b-0 d-flex"><i class="material-icons col-green psr-2">trending_up</i> 10% Higher Than Last Month</p>
              </div> -->
            </div>
          </div>
        </ng-container>
        <ng-container *ngFor="let component of dashboard.components">
          <div
          class="col-lg-4 col-md-4 col-sm-12"
            *ngIf="component.id === 'all-courses'"
          >
            <div class="card card-statistic-2" >
              <div class="clearfix">
                <div class="card-icon-only shadow-primary float-start">
                  <img src="assets/images/banner/online-course.png" alt="">
                </div>
                <div class="card-right">
                  <div>
                    <h5 class="float-end" style="margin-top: 100px;">All Courses</h5>
                  </div>
                  <div class="col-green" style="cursor: pointer;" routerLink="/admin/courses/all-courses/course-name">
                    <h3 class="font-weight-bold float-end mb-0">{{count?.courses}}</h3>
                  </div>
                </div>
              </div>
              <!-- <div class="card-content msl-4 mb-3">
                <p class="m-b-0 d-flex"><i class="material-icons col-orange psr-2">trending_down</i> 07% Less Than Last Year</p>
              </div> -->
            </div>
          </div>
        </ng-container>
        <ng-container *ngFor="let component of dashboard.components">
          <div
          class="col-lg-4 col-md-4 col-sm-12"
            *ngIf="component.id === 'total-trainers'"
          >
            <div class="card card-statistic-2" >
              <div class="clearfix">
                <div class="card-icon-only shadow-primary float-start">
                  <img src="assets/images/banner/img3.png" alt="">
                </div>
                <div class="card-right">
                  <div >
                    <h5 class="float-end" style="margin-top: 100px;">Total {{commonRoles.INSTRUCTOR_ROLE}}s</h5>
                  </div>
                  <div class="col-green" routerLink="/student/settings/all-user/all-instructors">
                    <h3 class="font-weight-bold float-end mb-0" style="cursor: pointer;">{{count?.instructors}}</h3>
                  </div>
                </div>
              </div>
              <!-- <div class="card-content msl-4 mb-3">
                <p class="m-b-0 d-flex"><i class="material-icons col-green psr-2">trending_up</i> 08% Higher Than Last Month</p>
              </div> -->
            </div>
          </div>
        </ng-container>
        <ng-container *ngFor="let component of dashboard.components">
          <div *ngIf="component.id === 'course-classes'" class="col-lg-4 col-md-4 col-sm-12">
            <div class="card card-statistic-2">
              <div class="clearfix">
                <div class="card-icon-only shadow-primary float-start">
                  <img src="assets/images/banner/online-course.png" alt="" >
                </div>
                <div class="card-right">
                  <div>
                    <h5 class="float-end" style="margin-top: 100px;">Course Classes</h5>
                  </div>
                  <div class="col-green">
                    <h3 class="font-weight-bold float-end mb-0">{{docs}}</h3>
                  </div>
                </div>
              </div>
              <div class="card-content msl-4 mb-3">
                <p class="m-b-0 d-flex"><i class="material-icons col-green psr-2">trending_down</i> 07% Less Then Last
                  Year</p>
              </div>
            </div>
          </div>
    </ng-container>
        <ng-container *ngFor="let component of dashboard.components">
          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12" *ngIf="component.checked && component.id === 'trainer-survey'">
            <div class="card" style="border-radius: 31px;">
              <div class="header mt-3">
                <h2>
                  {{commonRoles.STUDENT_ROLE}}s Survey</h2>
              </div>
              <div class="body" *ngIf="isArea" style="cursor: pointer;">
                <apx-chart [series]="areaChartOptions.series!" [chart]="areaChartOptions.chart!"
                  [xaxis]="areaChartOptions.xaxis!" [yaxis]="areaChartOptions.yaxis!" [colors]="areaChartOptions.colors!"
                  [stroke]="areaChartOptions.stroke!" [legend]="areaChartOptions.legend!" [grid]="areaChartOptions.grid!"
                  [tooltip]="areaChartOptions.tooltip!" [dataLabels]="areaChartOptions.dataLabels!"></apx-chart>
              </div>
              <div class="body" *ngIf="isSurveyBar">
                <apx-chart [series]="surveyBarChartOptions.series!" [chart]="surveyBarChartOptions.chart!"
                  [xaxis]="surveyBarChartOptions.xaxis!" [yaxis]="surveyBarChartOptions.yaxis!"
                  [colors]="surveyBarChartOptions.colors!" [stroke]="surveyBarChartOptions.stroke!"
                  [legend]="surveyBarChartOptions.legend!" [grid]="surveyBarChartOptions.grid!"
                  [tooltip]="surveyBarChartOptions.tooltip!" [dataLabels]="surveyBarChartOptions.dataLabels!"></apx-chart>
              </div>
              <div class="body" *ngIf="isSurveyPie">
                <apx-chart [series]="surveyPieChartOptions.series!" [chart]="surveyPieChartOptions.chart!"
                  [labels]="surveyPieChartOptions.labels!" [legend]="surveyPieChartOptions.legend!"
                  [colors]="surveyPieChartOptions.colors!" [responsive]="surveyPieChartOptions.responsive!"></apx-chart>
              </div>
    
            </div>
          </div>
        </ng-container>
        <ng-container *ngFor="let component of dashboard.components">
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" *ngIf="component.checked && component.id === 'users'">
            <div class="card" style="border-radius: 31px;">
              <div class="header mt-3">
                <h2>Users</h2>
              </div>
              <div class="float-start ms-3 me-3">
                <h5>{{count?.users}} Users(All) <span class="text-muted font-12"></span></h5>
              </div>
              <div class="body" *ngIf="isUsersPie" style="cursor: pointer;" >
                <apx-chart [series]="polarChartOptions.series2!" [chart]="polarChartOptions.chart!"
                  [labels]="polarChartOptions.labels!" [title]="polarChartOptions.title!" [theme]="polarChartOptions.theme!"
                  [fill]="polarChartOptions.fill!" [yaxis]="polarChartOptions.yaxis!" [stroke]="polarChartOptions.stroke!"
                  [legend]="polarChartOptions.legend!" [plotOptions]="polarChartOptions.plotOptions!"
                  [colors]="polarChartOptions.colors!"></apx-chart>
              </div>
              <div class="body" *ngIf="isUsersLine">
                <apx-chart [series]="usersLineChartOptions.series!" [chart]="usersLineChartOptions.chart!"
                  [xaxis]="usersLineChartOptions.xaxis!" [stroke]="usersLineChartOptions.stroke!"
                  [colors]="usersLineChartOptions.colors!" [dataLabels]="usersLineChartOptions.dataLabels!"
                  [legend]="usersLineChartOptions.legend!" [markers]="usersLineChartOptions.markers!"
                  [grid]="usersLineChartOptions.grid!" [yaxis]="usersLineChartOptions.yaxis!"
                  [tooltip]="usersLineChartOptions.tooltip!" [title]="usersLineChartOptions.title!">
                </apx-chart>
    
              </div>
              <div class="body" *ngIf="isUsersBar">
                <apx-chart [series]="usersBarChartOptions.series!" [chart]="usersBarChartOptions.chart!"
                  [xaxis]="usersBarChartOptions.xaxis!" [stroke]="usersBarChartOptions.stroke!"
                  [colors]="usersBarChartOptions.colors!" [dataLabels]="usersBarChartOptions.dataLabels!"
                  [legend]="usersBarChartOptions.legend!" [markers]="usersBarChartOptions.markers!"
                  [grid]="usersBarChartOptions.grid!" [yaxis]="usersBarChartOptions.yaxis!"
                  [tooltip]="usersBarChartOptions.tooltip!" [title]="usersBarChartOptions.title!">
                </apx-chart>
              </div>
            </div>
          </div>
        </ng-container>
        <ng-container *ngFor="let component of dashboard.components">
          <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" *ngIf="component.checked && component.id === 'trainers-list'">
            <div class="card" style="border-radius: 31px;">
              <div class="header mt-3">
                <h2>{{commonRoles.INSTRUCTOR_ROLE}}s List</h2>
    
              </div>
              <div class="tableBody">
                <div class="table-responsive">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>{{commonRoles.INSTRUCTOR_ROLE}}</th>
                        <th>Status</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let instructor of instructors" (click)="aboutInstructor(instructor.id)">
                        <td class="table-img" style="cursor: pointer;">
                          <img src="{{instructor.avatar|| 'assets/profile.png'}}" alt="">
                        </td>
                        <td style="cursor: pointer;">
                          <div class="media-title" ><a> {{instructor?.name | titlecase}}
                            </a></div>
                          <div class="text-job font-11">({{instructor?.education}})</div>
                        </td>
                        <td style="cursor: pointer;" >
                          <div [class]="instructor?.Active ? 'badge badge-solid-green' : 'badge badge-solid-red'">
                            <span
                            [class]="instructor?.Active ? 'status-dot' : 'status-red'"></span>
                            {{instructor?.Active == true?"Active":"Inactive"}}</div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
        <ng-container *ngFor="let component of dashboard.components">
          <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8" *ngIf="component.checked && component.id === 'classes-list'">
            <div class="card" style="border-radius: 31px;">
              <div class="header mt-3">
                <h2>Classes List</h2>
    
              </div>
              <div class="tableBody">
                <div class="table-responsive">
                  <table class="table table-hover ">
                    <thead>
                      <tr>
                        <!-- <th>#</th> -->
                        <th>Course</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Status </th>
                        <!-- <th>Actions </th> -->
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let class of classesList " style="cursor: pointer;"
                        [routerLink]="['/admin/courses/timetable/class-list/view-class/',class.id]">
                        <!-- <td class="table-img">
                    <img src="{{class?.courseId?.image_link}}" alt="course">
                  </td> -->
                        <td>{{class?.courseId?.title | titlecase }}</td>
                        <td> {{class?.sessions[0]?.sessionStartDate | date}} </td>
                        <td> {{class?.sessions[0]?.sessionEndDate | date}}</td>
                        <td>
                          <div class="badge col-green">{{class?.status == 'open'?'Active':'Inactive'}}</div>
                        </td>
    
                      </tr>
    
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      
      
    
      <ng-container *ngFor="let component of dashboard.components">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" *ngIf="component.checked && component.id === 'new-trainees-list'">
        <div class="card" style="border-radius: 31px;">
          <div class="header mt-3">
            <h2>New {{commonRoles.STUDENT_ROLE}} List</h2>

          </div>
          <div class="tableBody">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>{{commonRoles.STUDENT_ROLE}}</th>
                    <th>Education</th>
                    <th>Joining Date</th>
                    <th>Mobile</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let student of students" style="cursor: pointer;"  (click)="aboutStudent(student.id)">
                    <td class="table-img">
                      <img src="{{student?.avatar || 'assets/profile.png'}}" alt="">
                    </td>
                    <td >{{student?.name | titlecase}}</td>
                    <td>{{student?.education}}</td>
                    <td>{{student?.createdAt | date}}</td>
                    <td>
                      {{student?.mobile}}
                    </td>

                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
    </div>

  </mat-tab>

  <mat-tab *ngIf="dashboard.id === 'trainer-analytics'">
    <ng-template mat-tab-label>
      {{commonRoles.INSTRUCTOR_ROLE}} Analytics
    </ng-template>
    <app-dashboard2 [dashboardCpm]="dashboard"></app-dashboard2>
  </mat-tab>

  <mat-tab *ngIf=" dashboard.id === 'support'">
    <ng-template mat-tab-label>
      <!-- <mat-icon class="example-tab-icon msr-2">face</mat-icon> -->
      Support
    </ng-template>
    <app-support [dashboardCpm]="dashboard"></app-support>
  </mat-tab>
</ng-container>
</mat-tab-group>
  </div>

  <ng-container *ngFor="let dashboard of dashboards">
    <div *ngIf=" dashboard.id === 'traineedashboard'" class="content-block">
      <!-- <div class="block-header" *ngFor="let breadscrum of breadscrums">
        <app-breadcrumb [title]="breadscrum.title" [items]="breadscrum.items" [active_item]="breadscrum.active">
        </app-breadcrumb>
      </div> -->
     
      <div class="row">
        <ng-container *ngFor="let component of dashboard.components">
        <div *ngIf="component.id === 'info'" class="col-xl-12 col-lg-12 col-md-14 col-sm-14">
          <div class="card">
            <div class="body">
              <div class="row align-items-center">
                <div class="col-md-12 mb-0">
                  <h4>
                    <div class="weight-600 col-pink pt-1">Good Job, {{studentName}}. Keep Going!! </div>
                  </h4>
                  <div class="recent-report__chart" *ngIf="isStudentPie">
                    <apx-chart [series]="studentPieChartOptions.series!" [chart]="studentPieChartOptions.chart!"
                      [dataLabels]="studentPieChartOptions.dataLabels!" [labels]="studentPieChartOptions.labels!"
                      [legend]="studentPieChartOptions.legend!" [fill]="studentPieChartOptions.fill!"
                      [responsive]="studentPieChartOptions.responsive!">
                    </apx-chart>
                  </div>
                  <div class="recent-report__chart" *ngIf="isStudentBar">
                    <apx-chart [series]="studentBarChartOptions.series!" [chart]="studentBarChartOptions.chart!"
                      [dataLabels]="studentBarChartOptions.dataLabels!" [labels]="studentBarChartOptions.labels!"
                      [legend]="studentBarChartOptions.legend!" [fill]="studentBarChartOptions.fill!"
                      [responsive]="studentBarChartOptions.responsive!">
                    </apx-chart>
                  </div>
                  <div class="recent-report__chart" *ngIf="isStudentLine">
                    <apx-chart [series]="studentLineChartOptions.series!" [chart]="studentLineChartOptions.chart!"
                      [dataLabels]="studentLineChartOptions.dataLabels!" [labels]="studentLineChartOptions.labels!"
                      [legend]="studentLineChartOptions.legend!" [fill]="studentLineChartOptions.fill!"
                      [responsive]="studentLineChartOptions.responsive!">
                    </apx-chart>
                  </div>
                </div>
  
              </div>
            </div>
          </div>
        </div>
        </ng-container>
      </div>
  
  
  
      <!-- #END# Widgets -->
      <ng-container *ngFor="let dashboard of dashboards">
      <div class="row">
        <ng-container *ngFor="let component of dashboard.components">
        <div *ngIf="component.id === 'latest-enrolled-courses'" class="col-xl-6 col-lg-6 col-md-14 col-sm-14">
          <div class="card">
            <div class="header">
              <h2>Latest Enrolled Courses</h2>
            </div>
            <div class="tableBody">
              <ng-scrollbar style="height: 300px" visibility="hover">
                <div class="table-responsive">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th>Course</th>
                        <th>Duration</th>
                        <th>End Date</th>
                        <th>Completed</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let course of studentApprovedClasses ">
                        <td>{{course?.classId?.courseId?.title}}</td>
                        <td>{{course?.classId?.courseId?.training_hours}} Days</td>
                        <td>{{course?.classId?.sessions[0]?.sessionEndDate | date}}
                        </td>
                        <td
                          [ngClass]="{'red-text': course?.playbackTime?.toFixed(2) < 50, 'green-text': course?.playbackTime?.toFixed(2) >= 50}">
                          {{course?.playbackTime?.toFixed(2) || 0}}%
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </ng-scrollbar>
            </div>
          </div>
        </div>
        </ng-container>
        <ng-container *ngFor="let component of dashboard.components">
        <div *ngIf="component.id === 'upcoming-course-classes'" class="col-xl-6 col-lg-6 col-md-14 col-sm-14">
          <div class="card">
            <div class="header">
              <h2>
                Upcoming Course Classes
              </h2>
            </div>
            <div class="card-body">
              <ng-scrollbar style="height: 270px" visibility="hover">
                <ul class="list-unstyled user-progress list-unstyled-border list-unstyled-noborder">
                  <li *ngFor="let upcomingclass of upcomingCourseClasses" class="lecture-list">
                    <div class="set-flex">
                      <div class="media-title font-16">{{upcomingclass?.classId?.courseName}}</div>
                      <div class="text-job text-muted mb-0">{{upcomingclass?.classId?.courseId?.courseCode}}</div>
                    </div>
                    <div class="ms-auto">
                      <div class="media-title font-16">{{upcomingclass?.classId?.sessions[0]?.sessionStartDate | date}}
                      </div>
                      <!-- <div class="text-job text-muted mb-0">09:00-10:00</div> -->
                    </div>
                  </li>
                </ul>
              </ng-scrollbar>
            </div>
          </div>
        </div>
  </ng-container>
  <ng-container *ngFor="let component of dashboard.components">
        <div *ngIf="component.id === 'announcement-board'" class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
          <div class="card">
            <div class="header">
              <h2>Announcement Board</h2>
            </div>
            <div class="body">
              <ng-scrollbar style="height: 350px" visibility="hover">
                <div class="recent-comment">
                  <div *ngFor="let announcement of announcements.reverse()" class="notice-board">
                    <div class="notice-body">
                      <h5 class="notice-heading col-green">{{announcement?.announcementBy?.name}}</h5>
                      <p [innerHTML]="announcement?.details | truncate:150"></p>
                      <small class="text-muted float-end">{{announcement?.createdAt | date}}</small>
                    </div>
                  </div>
                </div>
              </ng-scrollbar>
            </div>
          </div>
        </div>
        </ng-container>
        <ng-container *ngFor="let component of dashboard.components">
        <div *ngIf="component.id === 'reschedule-list'"   class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
          <div class="card">
            <div class="header">
              <h2>Reschedule list</h2>
            </div>
            <div class="tableBody">
              <ng-scrollbar style="height: 370px" visibility="hover">
                <div class="table-responsive">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Class</th>
                        <th>Apply Date</th>
                        <th>Reschedule Date</th>
                        <th>Reason</th>
                        <th>Status</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let leave of approvedLeaves">
                        <td>{{leave?.className | titlecase}}</td>
                        <td>{{leave?.applyDate | date}}</td>
                        <td>{{leave?.toDate | date}}</td>
                        <td>{{leave?.reason | titlecase}}</td>
                        <td>
                          <span
                          [class]=" leave?.status === 'approved' ? 'badge badge-solid-green' : leave?.status === 'applied' ? 'badge badge-solid-orange' : leave?.status === 'cancelled' ? 'badge badge-solid-red': ''">
                          <span
                            [class]=" leave?.status === 'approved' ? 'status-dot' : leave?.status === 'applied' ? 'status-orange' : leave?.status === 'cancelled' ? 'status-red' : '' "></span>
                          {{ leave?.status  | titlecase}}</span>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </ng-scrollbar>
  
            </div>
          </div>
        </div>
        </ng-container>
      </div>
      
  
    </ng-container>
    </div>
</ng-container>

<ng-container *ngFor="let dashboard of dashboards">
  <app-ceo-dashboard [sharedashboards] = "dashboard" [role]="roles" ></app-ceo-dashboard>
</ng-container>
</section>





<app-super-admin *ngIf="superAdmin"></app-super-admin>