.status-dot {
    width: 8px;
    height: 8px;
    background-color: #198754;
    border-radius: 50%; // To make it a circle
    display: inline-block;
    margin-right: 5px; // Space between dot and text
  }

.compulsory-count-header {
    min-width: 150px;
  }
  .payment-cell{
    padding-right: 100px !important;
  }

