.status-dot {
    width: 8px;
    height: 8px;
    background-color: #198754;
    border-radius: 50%; // To make it a circle
    display: inline-block;
    margin-right: 5px; // Space between dot and text
  }

.compulsory-count-header {
    min-width: 150px;
  }
  // ::ng-deep .mat-column-Payment {
  //   display: flex !important;
  //   justify-content: flex-end !important;
  //   margin-left: -16px;
  // }
