.dashboard-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .dashboard {
    display: flex;
    flex-direction: column;
  }
  
  .dashboard-title {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
//   .components {
//     padding-left: 5px;
//   }
  
  .component {
    margin-bottom: 2px;
  }
  
  .mat-cell {
    vertical-align: top;
  }
  