.dashboard-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .dashboard {
    display: flex;
    flex-direction: column;
  }
  
  .dashboard-title {
    font-weight: bold;
    margin-bottom: 5px;
  }
  .component {
    margin-bottom: 2px;
  }
  
  .mat-cell {
    vertical-align: top;
  }
  mat-cell:first-of-type, mat-header-cell:first-of-type, mat-footer-cell:first-of-type {
    padding-left: 24px; 
   }
   @media (max-width: 600px) {
     mat-cell:first-of-type, mat-header-cell:first-of-type, mat-footer-cell:first-of-type {
       padding-left: 15px;
     }
     }