

.status-dot {
    width: 8px;
    height: 8px;
    background-color: #f11541;
    border-radius: 50%; 
    display: inline-block;
    margin-right: 5px; 
  }
  .amount{
    padding-right: 80px !important;
    white-space: nowrap;
  }
  
  .payment-cell{
    padding-right: 100px !important;
  }
  
  ::ng-deep .mat-column-registeredDate {
    white-space: nowrap;
  }

 