

.status-dot {
    width: 8px;
    height: 8px;
    background-color: #f11541;
    border-radius: 50%; 
    display: inline-block;
    margin-right: 5px; 
  }
  // ::ng-deep .mat-column-programFee {
  //   display: flex !important;
  //   justify-content: flex-end !important;
  //   margin-left: -20px;
  // }
  ::ng-deep .mat-column-programFee {
    
    white-space: nowrap;
}

  ::ng-deep .mat-column-instructorFee {
    white-space: nowrap;
  }
  ::ng-deep .mat-column-registeredDate {
    white-space: nowrap;
  }
  :host ::ng-deep mat-cell{
    min-width: 150px;
  }
  .payment-cell{
    padding-right: 65px;
  }
  // .course-cell{
  //   max-width: 300px;
  // }

 