<section class="content">
  <div class="content-block">
    <div class="block-header" *ngFor="let breadscrum of breadscrums">
      <app-breadcrumb [title]="breadscrum.title" [items]="breadscrum.items" [active_item]="breadscrum.active"></app-breadcrumb>
    </div>
    <div class="row clearfix">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div style="padding: 30px 10px">

            <form [formGroup]="certificateForm" style="display: flex; flex-wrap: wrap; gap: 20px;">
              <div *ngIf="!viewUrl"  style="display: flex; width: 100%; gap: 20px;">
                <label>Title</label>
                <mat-form-field class="example-full-width" appearance="outline" style="flex: 1;">
                  <input matInput formControlName="title">
                </mat-form-field>
                
              </div>

              <div *ngIf="!viewUrl" style="display: flex; width: 100%; gap: 20px;">
                  <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                      <label>Text 1</label>
                      <angular-editor
                        placeholder="Enter text..."
                        id="editor"
                        formControlName="text1"
                        [config]="config"
                      ></angular-editor>
                    </div>
                  </div>
              </div>
              <div *ngIf="!viewUrl" style="display: flex; width: 100%; gap: 20px;">
              
                <div
                class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2"
                
              >
                <label>Background Image</label>
                <div class="file-drop-area">
                  <div class="file">
                    <button mat-raised-button color="primary" class="btn">
                      Choose file
                      <input
                        formControlName="image_link"
                        (change)="onFileUpload($event)"
                      
                        class="file-input"
                        type="file"
                      />
                    </button>
                    <span class="file-msg">
                      <h6>
                        {{
                          uploadedImage
                            ? uploadedImage
                            : "Drag and Drop File Here"
                        }}
                      </h6>
                    </span>
                  </div>
                </div>
               
              </div>
                


                
              </div>
            </form>
            <button class="icons" *ngIf="viewUrl && isEdit" (click)="edit()" >
              <app-feather-icons [icon]="'edit'" [class]="'tbl-fav-edit'"></app-feather-icons>
          </button>
          <table #backgroundTable
            style="margin: 0 auto;
                   background-repeat: no-repeat;
                   background-position: center right;
                   background-size: 100% 100%;
                   border: 0.5px solid lightgray;
                   height: 700px;
                   width: 800px;">
              <tbody>
                <tr>
                  <td width="11%"></td>
                  <td width="59%" style="padding: 30px 0">
          
            <p
              class="text-default"
              [innerHTML]="
                
                getSafeHtml(certificateForm.get('text1')?.value)
                  
              "
            ></p>
          </td>
          <td width="30%"></td>
        </tr>
      </tbody>
    </table>
            <table width="800px" [style.background-image]="'url(' + this.image_link + ')'" style="
            margin: 0 auto;
            background-repeat: no-repeat;
            background-position: center right;
            background-size: 100% 100%;
            border: 0.5px solid lightgray;
            height: fit-content;
          "> </table>
          </div>
          <button mat-raised-button id="submit"  *ngIf="!editUrl"  style="margin-left: 800px; margin-top: 10px;" (click)="saveCertificate()">
              Submit
            </button>
            <button mat-raised-button id="submit" *ngIf="editUrl"  style="margin-left: 800px; margin-top: 10px;" (click)="saveCertificate()">
              Update
            </button>
            <br>
                
        </div>
      </div>

    </div>


  </div>
</section>
