<section class="content">
  <div class="content-block">
    <div class="block-header" *ngFor="let breadscrum of breadscrums">
      <app-breadcrumb [title]="breadscrum.title" [items]="breadscrum.items" [active_item]="breadscrum.active"></app-breadcrumb>
    </div>
    <div class="row clearfix">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div style="padding: 30px 10px">

            <form [formGroup]="certificateForm" style="display: flex; flex-wrap: wrap; gap: 20px;">
              <div *ngIf="!viewUrl"  style="display: flex; width: 100%; gap: 20px;">
                <mat-form-field class="example-full-width" appearance="outline" style="flex: 1;">
                  <mat-label>Title</mat-label>
                  <input matInput formControlName="title">
                  <!-- <mat-error *ngIf="certificateForm.get('title')?.hasError('required')">
                    Enter title
                  </mat-error> -->
                </mat-form-field>
                <mat-form-field class="example-full-width" appearance="outline" style="flex: 1;">
                  <mat-label>Text1</mat-label>
                  <input matInput formControlName="text1" >
                  <!-- required add into input -->
                  <!-- <mat-error *ngIf="certificateForm.get('text1')?.hasError('required')">
                    Enter text1
                  </mat-error> -->
                </mat-form-field>

                <mat-form-field class="example-full-width" appearance="outline" style="flex: 1;">
                  <mat-label>Text2</mat-label>
                  <input matInput formControlName="text2" >
                   <!-- required add into input -->
                  <!-- <mat-error *ngIf="certificateForm.get('text2')?.hasError('required')">
                    Enter Text 2
                  </mat-error> -->
                </mat-form-field>

                
              </div>

              <div *ngIf="!viewUrl" style="display: flex; width: 100%; gap: 20px;">
                <mat-form-field class="example-full-width" appearance="outline" style="flex: 1;">
                  <mat-label>Text3</mat-label>
                  <input matInput formControlName="text3" >
                  <!-- <mat-error *ngIf="certificateForm.get('text3')?.hasError('required')">
                    Enter Text3
                  </mat-error> -->
                </mat-form-field>
                <mat-form-field class="example-full-width" appearance="outline" style="flex: 1;">
                  <mat-label>Text4</mat-label>
                  <input matInput formControlName="text4" >
                  <!-- <mat-error *ngIf="certificateForm.get('text4')?.hasError('required')">
                    Enter Text4
                  </mat-error> -->
                </mat-form-field>

                <mat-form-field class="example-full-width" appearance="outline" style="flex: 1;">
                  <mat-label>Text5</mat-label>
                  <input matInput formControlName="text5" >
                  <!-- <mat-error *ngIf="certificateForm.get('text5')?.hasError('required')">
                    Enter Completion Text
                  </mat-error> -->
                </mat-form-field>

                
              </div>
              <div *ngIf="!viewUrl" style="display: flex; width: 100%; gap: 20px;">
                <mat-form-field class="example-full-width" appearance="outline" style="flex: 1;">
                  <mat-label>Text6</mat-label>
                  <input matInput formControlName="text6" >
                  <!-- <mat-error *ngIf="certificateForm.get('text6')?.hasError('required')">
                    Enter Text6
                  </mat-error> -->
                </mat-form-field>
                <mat-form-field class="example-full-width" appearance="outline" style="flex: 1;">
                  <mat-label>Text7</mat-label>
                  <input matInput formControlName="text7" >
                  <!-- <mat-error *ngIf="certificateForm.get('text7')?.hasError('required')">
                    Enter Text7
                  </mat-error> -->
                </mat-form-field>

                <mat-form-field class="example-full-width" appearance="outline" style="flex: 1;">
                  <mat-label>Text8</mat-label>
                  <input matInput formControlName="text8" >
                  <!-- <mat-error *ngIf="certificateForm.get('text8')?.hasError('required')">
                    Enter Text8
                  </mat-error> -->
                </mat-form-field>

               
              </div>


              <div *ngIf="!viewUrl" style="display: flex; width: 100%; gap: 20px;">
                <mat-form-field class="example-full-width" appearance="outline" style="flex: 1;">
                  <mat-label>User</mat-label>
                  <input matInput formControlName="user" >
                  <!-- <mat-error *ngIf="certificateForm.get('user')?.hasError('required')">
                    Enter Student Name
                  </mat-error> -->
                </mat-form-field>
                <mat-form-field class="example-full-width" appearance="outline" style="flex: 1;">
                  <mat-label>Course Name</mat-label>
                  <input matInput formControlName="course" >
                  <!-- <mat-error *ngIf="certificateForm.get('course')?.hasError('required')">
                    Enter Course Name
                  </mat-error> -->
                </mat-form-field>
                <mat-form-field class="example-full-width" appearance="outline" style="flex: 1;">
                  <mat-label>Completion Date</mat-label>
                  <input matInput formControlName="completionDate" type="date" >
                  <!-- <mat-error *ngIf="certificateForm.get('completionDate')?.hasError('required')">
                    Enter Completion Date
                  </mat-error> -->
                </mat-form-field>

             
                


                
              </div>
              <div *ngIf="!viewUrl" style="display: flex; width: 100%; gap: 20px;">
              
                <div
                class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2"
                
              >
                <label>Thumbnail</label>
                <div class="file-drop-area">
                  <div class="file">
                    <button mat-raised-button color="primary" class="btn">
                      Choose file
                      <input
                        formControlName="image_link"
                        (change)="onFileUpload($event)"
                      
                        class="file-input"
                        type="file"
                      />
                    </button>
                    <span class="file-msg">
                      <h6>
                        {{
                          uploadedImage
                            ? uploadedImage
                            : "Drag and Drop File Here"
                        }}
                      </h6>
                    </span>
                  </div>
                </div>
               
              </div>
                


                
              </div>
            </form>
            <button class="icons" *ngIf="viewUrl" (click)="edit()" >
              <app-feather-icons [icon]="'edit'" [class]="'tbl-fav-edit'"></app-feather-icons>
          </button>

            <table #backgroundTable
            style="margin: 0 auto;
                   background-repeat: no-repeat;
                   background-position: center right;
                   background-size: 100% 100%;
                   border: 0.5px solid lightgray;
                   height: 700px;
                   width: 800px;">
              <tbody>
                <tr>
                  <td width="11%"></td>
                  <td width="59%" style="padding: 30px 0">
                    <table style="width: 100%">
                      <tr>
                        <td></td>
                        <td style="text-align: right; padding-right: 30px;">
                          <p style="
                            font-weight: 600;
                            font-size: 28px;
                            margin-bottom: 10px;
                            line-height: 1.2;
                          ">
                            {{ certificateForm.get('text1')?.value || 'www.tms.com' }}
                          </p>
                          <p style="
                            font-weight: 300;
                            font-size: 21px;
                            margin-bottom: 5px;
                            line-height: 1.2;
                          ">
                          {{ certificateForm.get('text2')?.value || ' India | Singapore' }}
                            <!-- India | Singapore -->
                          </p>
                        </td>
                      </tr>
                      <tr>
                        <td colspan="2">
                          <p style="
                            font-weight: 700;
                            font-size: 32px;
                            margin-bottom: 0;
                            line-height: 1.2;
                            text-transform: uppercase;
                          ">
                            {{ certificateForm.get('text3')?.value || 'LMS Inc.' }}
                          </p>
                          <p style="
                            font-weight: 500;
                            font-size: 15px;
                            margin: 8px 0;
                            line-height: 1.2;
                            font-style: italic;
                          ">
                            {{ certificateForm.get('text4')?.value || 'hereby recognizes that' }}
                          </p>
                          <p style="
                            font-weight: 700;
                            font-size: 32px;
                            margin-bottom: 8px;
                            line-height: 1.2;
                            font-style: italic;
                          ">
                            {{ certificateForm.get('user')?.value || 'XYZ' }}
                          </p>

                          <p style="
                            font-weight: 400;
                            font-size: 15px;
                            margin-bottom: 10px;
                            line-height: 1.2;
                            font-style: italic;
                          ">
                            {{ certificateForm.get('text5')?.value || 'has successfully completed the' }} <b>
                              {{ certificateForm.get('course')?.value || 'XYZ' }}
                            </b> course
                            on <b>
                              {{ certificateForm.get('completionDate')?.value | date: 'dd/MM/yyyy' || 'DD/MM/YYYY' }}
                            </b>
                          </p>
                        </td>
                      </tr>
                    </table>
                    <table style="width: 100%">
                      <tr>
                        <td width="70%">
                          <p style="
                            font-weight: normal;
                            font-size: 12px;
                            margin-bottom: 8px;
                            line-height: 1.2;
                          ">
                            {{ certificateForm.get('text6')?.value || 'Authorized and issued by:' }}
                          </p>
                          <p style="
                            font-weight: 600;
                            font-size: 15px;
                            margin-bottom: 8px;
                            line-height: 1.2;
                            text-transform: uppercase;
                          ">
                           {{ certificateForm.get('text7')?.value || 'tms inc.' }}
                            <!-- lms inc. -->
                          </p>
                          <p style="
                            font-weight: normal;
                            font-size: 12px;
                            margin-bottom: 8px;
                            line-height: 1.2;
                          ">
                          {{ certificateForm.get('text8')?.value || 'Mountbatten Road, Mountbatten Square, Singapore | Hyderabad, TS, India' }}
                            <!-- Mountbatten Road, Mountbatten Square, Singapore | Hyderabad, TS, India -->
                          </p>
                        </td>
                        <td width="30%" style="text-align: right; vertical-align: bottom; padding-right: 30px;">
                          <!-- <img src="/assets/certificates/stamp.png" width="140px" /> -->
                        </td>
                      </tr>
                    </table>
                  </td>
                  <td width="30%"></td>
                </tr>
              </tbody>
            </table>
            <!-- <table width="800px" [style.background-image]="'url(' + this.image_link + ')'" style="
            margin: 0 auto;
            background-repeat: no-repeat;
            background-position: center right;
            background-size: 100% 100%;
            border: 0.5px solid lightgray;
            height: 700px;
          "> </table> -->
          </div>
          <button mat-raised-button id="submit"  *ngIf="!editUrl"  style="margin-left: 900px; margin-top: 10px;" (click)="saveCertificate()">
              Submit
            </button>
            <button mat-raised-button id="submit" *ngIf="editUrl"  style="margin-left: 900px; margin-top: 10px;" (click)="saveCertificate()">
              Update
            </button>
            <br>
                
        </div>
      </div>

    </div>


  </div>
</section>
