.file-drop-area {
    border: 1px dashed #7c7db3;
    border-radius: 15px;
    position: relative;
    // max-width: 100%;
    margin-top: 5px;
    // padding: 26px 20px 30px;
    transition: 0.2s;
  }
  .file{
    text-align: center;
   }
   .file-input {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
    opacity: 0;
  }
  .file-msg {
    // display: inline-block;
    margin-left: 20px;
    vertical-align: middle;
    font-size: 12px;
    font-weight: 500;
    // color: #5b5bff;
  }
  h5{
    padding-top: 10px;
  }
  
  .btn{
    margin-top: 6px;
    height: 22px;
  }
  .icons{
    width: 10%;
      margin: 10px;
      border: none;
      background: transparent;
      float:right;
  }
  
//   #editor {
//     font-size: 16px;
//     font-style: italic;
//     padding: 10px;
//   }
//   ::ng-deep .angular-editor-textarea{
//     border-radius: 12px;
//   }
//   #date{
//     height: 56px;
//     margin-bottom: 20px;
//     border: 1px solid rgb(173, 177, 177);
//     border-radius: 12px;
//     font-size: 16px;
//     font-style: italic;
//     padding: 10px;
//   }

// table {
//   width: 100%;
//   height: 400px; /* Adjust as needed */
//   background-size: cover;
//   background-repeat: no-repeat;
//   background-position: center;
// }