.bg {
    fill: #000;
    background-color: #d3cdcd;
  }
  .color{
    color:#6777ef
  }
  
  .img-w{
  width: 16%;
  }
  svg {
    position: absolute;
    fill: #000;
    background-color: #d3cdcd;
    margin-top: -15px;
    margin-left: -15px;
    border-radius: 10px;
    padding-left: 3px;
    padding-right: 3px;
  }
  
  .status-dot {
    width: 8px;
    height: 8px;
    background-color: #198754;
    border-radius: 50%; // To make it a circle
    display: inline-block;
    margin-right: 5px; // Space between dot and text
  }
  
  .amount{
    padding-right: 100px !important;
    white-space: nowrap;
  }
  
  .payment-cell{
    padding-right: 100px !important;
  }
  
  ::ng-deep .mat-column-registeredDate {
    white-space: nowrap;
  }
  @media (max-width: 768px) {
    .payment-cell {
      display: block;
      justify-content: center;
      margin-top: 10px;
      padding-right: 0px !important;
    }
  }
  