<section class="content" *ngIf="isAdmin">
    <div class="content-block">
        <div class="block-header" *ngFor="let breadscrum of breadscrums">
            <!-- breadcrumb -->
            <app-breadcrumb [title]="breadscrum.title" [items]="breadscrum.items" [active_item]="breadscrum.active">
            </app-breadcrumb>
        </div>

                <ng-template mat-tab-label>
                    <!-- <mat-icon class="example-tab-icon msr-2">face</mat-icon> -->
                    Users Analytics
                </ng-template>
                <div class="row mt-5">

                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="card card-statistic-2">
                            <div class="clearfix">
                                <div class="card-icon-only shadow-primary float-start">
                                    <img src="assets/images/banner/New Students.jpg" alt="" style="margin-left: -21px;">

                                </div>
                                <div class="card-right">
                                    <div>
                                        <h5 class="float-end" style="padding-top: 100px;">Total Staff</h5>
                                    </div>
                                    <div class="col-green">
                                        <h3 class="font-weight-bold float-end mb-0">{{staffCount}}</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="card-content msl-4 mb-3">
                                <p class="m-b-0 d-flex"><i class="material-icons col-green psr-2">trending_up</i> 10%
                                    Higher Then Last
                                    Month
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="card card-statistic-2">
                            <div class="clearfix">
                                <div class="card-icon-only shadow-primary float-start">
                                    <img src="assets/images/banner/online-course.png" alt="">
                                </div>
                                <div class="card-right">
                                    <div>
                                        <h5 class="float-end" style="margin-top: 100px;">All Programs</h5>
                                    </div>
                                    <div class="col-green">
                                        <h3 class="font-weight-bold float-end mb-0">{{count?.courses}}</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="card-content msl-4 mb-3">
                                <p class="m-b-0 d-flex"><i class="material-icons col-orange psr-2">trending_down</i> 07%
                                    Less Then Last
                                    Year
                                </p>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                      <div class="card" style="border-radius: 31px;">
                        <div class="header mt-3">
                          <h2>
                            Overall Training Course</h2>
                        </div>
                      
                        <div class="body">
                          <apx-chart [series]="courseBarChartOptions.series!" [chart]="courseBarChartOptions.chart!"
                            [xaxis]="courseBarChartOptions.xaxis!" [yaxis]="courseBarChartOptions.yaxis!"
                            [colors]="courseBarChartOptions.colors!" [stroke]="courseBarChartOptions.stroke!"
                            [legend]="courseBarChartOptions.legend!" [grid]="courseBarChartOptions.grid!"
                            [tooltip]="courseBarChartOptions.tooltip!" [dataLabels]="courseBarChartOptions.dataLabels!"></apx-chart>
                        </div>
                      
                      </div>
                    </div>
                  </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="card" style="border-radius: 31px;">
                          <div class="header mt-3">
                            <h2>Certificate</h2>
                
                          </div>
                          <div class="tableBody">
                            <div class="table-responsive">
                              <table class="table table-hover ">
                                <thead>
                                  <tr>
                                    <!-- <th>#</th> -->
                                    <th>Program Name</th>
                                    <th>Staff Name</th>
                                    <th>Status </th>
                                    <!-- <th>Actions </th> -->
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr *ngFor="let class of completedClasses " style="cursor: pointer;"
                                    [routerLink]="['/admin/courses/view-class/',class.id]">
                                    <!-- <td class="table-img">
                                <img src="{{class?.courseId?.image_link}}" alt="course">
                              </td> -->
                                    <td >{{class?.title | titlecase}}</td>
                                    <td> {{'--'}} </td>
                                    <td>
                                      <div [ngClass]="class?.certificate?'badge col-green':'badge col-orange'">{{class?.certificate ?'Certificate issued':'Awaiting for issue certificate'}}</div>
                                    </td>
                                  </tr>
                
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                      </div>
                </div>
                <div class="row">
                  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                      <div class="card" style="border-radius: 31px;">
                          <div class="header mt-3">
                              <h2>Staff List</h2>

                          </div>
                          <div class="tableBody">
                            <ng-scrollbar style="height: 280px" visibility="hover">
                              <div class="table-responsive">
                                  <table class="table table-hover">
                                      <thead>
                                          <tr>
                                              <th>#</th>
                                              <th>Staff Name</th>
                                              <th>Status</th>
                                          </tr>
                                      </thead>
                                      <tbody>
                                          <tr *ngFor="let user of staff" style="cursor: pointer;">
                                              <td class="table-img">
                                                  <img src="{{user.avatar || 'assets/profile.png'}}" alt="">
                                              </td>
                                              <td [routerLink]="[ '/admin/user-profile/view-student',user.id]">
                                                  <div class="media-title"> {{user?.name | titlecase}}
                                                  </div>
                                              </td>
                                              <td [routerLink]="['/admin/user-profile/view-student',user.id]">
                                                  <div
                                                      [class]="user?.Active ? 'badge badge-solid-green' : 'badge badge-solid-red'">
                                                      {{user?.Active == true?"Active":"Inactive"}}</div>
                                              </td>
                                          </tr>
                                      </tbody>
                                  </table>
                              </div>
                              </ng-scrollbar>
                          </div>
                      </div>
                  </div>


                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                    <div class="card" style="border-radius: 31px;">
                        <div class="header mt-3">
                            <h2>
                                Staff Survey</h2>
                        </div>
                        <div class="body" *ngIf="isArea">
                            <apx-chart [series]="areaChartOptions.series!" [chart]="areaChartOptions.chart!"
                                [xaxis]="areaChartOptions.xaxis!" [yaxis]="areaChartOptions.yaxis!"
                                [colors]="areaChartOptions.colors!" [stroke]="areaChartOptions.stroke!"
                                [legend]="areaChartOptions.legend!" [grid]="areaChartOptions.grid!"
                                [tooltip]="areaChartOptions.tooltip!"
                                [dataLabels]="areaChartOptions.dataLabels!"></apx-chart>
                        </div>
                        <div class="body" *ngIf="isSurveyBar">
                            <apx-chart [series]="surveyBarChartOptions.series!"
                                [chart]="surveyBarChartOptions.chart!" [xaxis]="surveyBarChartOptions.xaxis!"
                                [yaxis]="surveyBarChartOptions.yaxis!" [colors]="surveyBarChartOptions.colors!"
                                [stroke]="surveyBarChartOptions.stroke!" [legend]="surveyBarChartOptions.legend!"
                                [grid]="surveyBarChartOptions.grid!" [tooltip]="surveyBarChartOptions.tooltip!"
                                [dataLabels]="surveyBarChartOptions.dataLabels!"></apx-chart>
                        </div>
                        <div class="body" *ngIf="isSurveyPie">
                            <apx-chart [series]="surveyPieChartOptions.series!"
                                [chart]="surveyPieChartOptions.chart!" [labels]="surveyPieChartOptions.labels!"
                                [legend]="surveyPieChartOptions.legend!" [colors]="surveyPieChartOptions.colors!"
                                [responsive]="surveyPieChartOptions.responsive!"></apx-chart>
                        </div>

                    </div>
                </div>

              </div>
           
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="card" style="border-radius: 31px;">
                          <div class="header mt-3">
                            <h2>Classes List</h2>
                
                          </div>
                          <div class="tableBody">
                            <div class="table-responsive">
                              <table class="table table-hover ">
                                <thead>
                                  <tr>
                                    <!-- <th>#</th> -->
                                    <th>Course Name</th>
                                    <th>Start Date</th>
                                    <th>End Date</th>
                                    <th>Status </th>
                                    <!-- <th>Actions </th> -->
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr *ngFor="let class of classesList " style="cursor: pointer;"
                                    [routerLink]="['/admin/courses/view-class/',class.id]">
                                    <!-- <td class="table-img">
                                <img src="{{class?.courseId?.image_link}}" alt="course">
                              </td> -->
                                    <td *ngFor="let name of class.sessions">{{name?.courseName | titlecase}}</td>
                                    <td> {{class?.sessions[0]?.sessionStartDate | date}} </td>
                                    <td> {{class?.sessions[0]?.sessionEndDate | date}}</td>
                                    <td>
                                      <div class="badge col-green">{{class?.status == 'open'?'Active':'Inactive'}}</div>
                                    </td>
                
                                  </tr>
                
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                      </div>
                </div>

    </div>
</section>
