<section class="content">
    <div class="content-block">
      <div class="block-header" *ngFor="let breadscrum of breadscrums">
        <!-- breadcrumb -->
        <app-breadcrumb
          [title]="breadscrum.title"
          [items]="breadscrum.items"
          [active_item]="breadscrum.active"
        >
        </app-breadcrumb>
      </div>
      <div class="row clearfix">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="card" style="height: fit-content">
            <div class="row m-3">
              <form [formGroup]="sideMenuForm">
                <!-- <div class="col-md-8">
                              <label class="py-4 px-5">Menu</label>
                              <button class="btn" (click)="addSidemenu()"> <img src="/assets/Close.svg" alt="plus"
                                  style="display: inline;margin-bottom: 10px;"></button>
                          </div> -->
                <div formArrayName="sidemenu">
                  <div
                    *ngFor="let side of sidemenu.controls; let i = index"
                    [formGroupName]="i"
                  >
                    <label
                      >Menu {{ i + 1
                      }}<span class="mandatory">&nbsp;*</span></label
                    >
                    <button class="btn" (click)="addSidemenu()">
                      <img
                        src="/assets/Close.svg"
                        alt="plus"
                        style="display: inline; margin-bottom: 10px"
                      />
                    </button>
                    <div class="row">
                      <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 mb-2">
                        <label
                          >Title <span class="mandatory">&nbsp;*</span></label
                        >
                        <mat-form-field
                          class="example-full-width mb-3"
                          appearance="outline"
                        >
                          <input
                            type="text"
                            matInput
                            formControlName="title"
                            placeholder="Enter Title"
                          />
                        </mat-form-field>
                      </div>
                      
                      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-2">
                        <label>Icon <span class="mandatory">&nbsp;*</span></label>
                        <div class="file-drop-area">
                          <!-- <div *ngIf="uploadedImages[i];">
                            <img
                              [src]="uploadedImages[i]"
                              alt="Uploaded Image Preview"
                              style="width: 100px; height: auto"
                            />
                          </div> -->
                            <div class="file">
                              <button mat-raised-button color="primary">
                                Choose file
                                <input
                                  class="file-input"
                                  (change)="onFileUpload($event, i)"
                                  type="file"
                                />
                              </button>
                              <span *ngIf="uploadedImages[i]" class="file-msg mt-1"
                                > {{uploadedImages[i] ? uploadedImages[i] :'Drag and Drop File Here' }}</span
                              >
                            </div>
                          <!-- <div class="file">
                                                  <button mat-raised-button color="primary">Choose file <input
                                                      class="file-input" formControlName="iconsrc"
                                                      (change)="onFileUpload($event, i)" type="file"></button>
                                                  <span class="file-msg mt-1">
                                                      <h5>{{ uploadedImages[i] ? uploadedImages[i] : 'Drag and Drop File Here' }}</h5>
                                                  </span>
                                              </div> -->
                        </div>
                        <!-- <div class="file-drop-area">
                                                  <div class="file">
                                                      <button mat-raised-button color="primary">Choose file <input
                                                              class="file-input" formControlName="iconsrc"
                                                              (change)="onFileUpload($event,i)" type="file"></button>
                                                      <span class="file-msg mt-1">
                                                          <h5>{{uploadedImage ? uploadedImage : 'Drag and Drop File Here'
                                                              }}</h5>
                                                      </span>
                                                  </div>
                                              </div> -->
                      </div>
                      <!-- <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 mb-2">
                        <label>ID <span class="mandatory">&nbsp;*</span></label>
                        <mat-form-field
                          class="example-full-width mb-3"
                          appearance="outline"
                        >
                          <input
                            type="text"
                            matInput
                            formControlName="id"
                            placeholder="Enter ID"
                          />
                        </mat-form-field>
                      </div> -->
                    </div>
                    <div formArrayName="submenu">
                      <label
                        >SubMenu <span class="mandatory">&nbsp;*</span></label
                      >
                      <button class="btn" >
                        <img
                          src="/assets/Close.svg"
                          alt="plus"
                          style="display: inline; margin-bottom: 10px"
                        />
                      </button>
                      <div class="row">
                        <div
                          class="col-xl-3 col-lg-3 col-md-6 col-sm-12 mb-2"
                          *ngFor="
                            let sub of getSubmenu(i).controls;
                            let j = index
                          "
                          [formGroupName]="j"
                        >
                          <!-- Use [formControlName] with respect to 'submenu' FormGroup -->
                          <label class="mt-2"
                            >Title<span class="mandatory">&nbsp;*</span></label
                          >
  
                          <mat-form-field
                            class="example-full-width mb-3"
                            appearance="outline"
                          >
                            <input
                              type="text"
                              matInput
                              [formControlName]="'title'"
                              placeholder="Enter Title"
                            />
                          </mat-form-field>
                        </div>
                      </div>
  
                      <!-- <button type="button" (click)="addOption(i)">Add Option</button> -->
                    </div>
                  </div>
                </div>
              </form>
              <div class="row body">
                <div class="col-md-10">
                  <button
                    mat-raised-button
                    id="back"
                    [routerLink]="['/student/settings/customize/settings-sidemenu']"
                  >
                    Back
                  </button>
                </div>
                <div class="col-md-2">
                  <button
                    class="btn-space"
                    mat-raised-button
                    (click)="update()"
                    type="submit"
                    id="submit"
                  >
                    Update
                  </button>
                  <!-- <button *ngIf="editUrl" class="btn-space" mat-raised-button id="submit">Update</button> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  