.status-red {
    width: 8px;
    height: 8px;
    background-color: #f11541;
    border-radius: 50%; // To make it a circle
    display: inline-block;
    margin-right: 5px; // Space between dot and text
}
:host ::ng-deep mat-cell{
    min-width: 154px;
  }
  .payment-cell{
    padding-right: 87.5px;
  }
 