#submit {
  width: 140px;
   padding: 5px 13px 5px 13px;
 }
 #issued{
   width: 140px;
   padding: 5px 13px 5px 11px;
 }
 #enableExam {
   width: 140px;
   padding: 5px 13px 5px 11px;
 }
 .mat-column-actions {
   width: 450px;
}
 svg {
   position: absolute;
   fill: #000;
   background-color: #d3cdcd;
   margin-top: -15px;
   margin-left: -15px;
   border-radius: 10px;
   padding-left: 3px;
   padding-right: 3px;
}

// modal-box styling
::ng-deep .mat-mdc-menu-content {
   margin: 0;
   padding: 8px 20px;
   border-radius: 10px;
   list-style-type: none;

}

// modal-box curving
::ng-deep .mat-mdc-menu-panel {
   --mat-menu-container-shape: 12px;
}

.menu-text {
   padding-left: 20px;
}

// .name {
//     color: deepskyblue;
//     font-weight: 500;
// }

// .email-address {
//     overflow: hidden;
//     text-overflow: ellipsis;
//     white-space: nowrap;
// }

 // .mat-cell {
 //   width: fit-content;
 //   height: 1px;
 //   border-color: white;
 //   align-self: stretch;
 // }
 // .mat-header-cell {
 //   color: white;
 //   background-color: #000046;
 //   padding: 20px;
 //   border-color: white;
 //   align-self: stretch;
 // }
 // .email-icon {
 //   height: 10px;
 //   margin-right: 8px; / Adjust spacing as needed /
 //   vertical-align: middle; / Align icon vertically with text /
 // }
 
 .center-icon {
   margin: auto; 
 }

 .payment-cell{
   padding-right: 45px;
 }
 .payment{
   padding-left: 30px;
 }
 ::ng-deep .mat-column-Instructorfee {
   display: flex !important;
   justify-content: flex-end !important;
   margin-left: -15px;
 }

 .file-drop-area {
   border: 1px dashed #7c7db3;
   border-radius: 15px;
   position: relative;
   // max-width: 100%;
   margin-top: 5px;
   // padding: 26px 20px 30px;
   transition: 0.2s;
 }
 .file{
   text-align: center;
  }
  .file-input {
   position: absolute;
   left: 0;
   top: 0;
   height: 100%;
   width: 100%;
   cursor: pointer;
   opacity: 0;
 }
 .file-msg {
   // display: inline-block;
   margin-left: 20px;
   vertical-align: middle;
   font-size: 12px;
   font-weight: 500;
   // color: #5b5bff;
 }
 h5{
   padding-top: 10px;
 }
 
 .btn{
   margin-top: 6px;
   height: 22px;
 }
 .icons{
   width: 10%;
     margin: 10px;
     border: none;
     background: transparent;
     float:right;
 }


