<section class="content">
    <div class="content-block">
        <div class="block-header" *ngFor="let breadscrum of breadscrums">
            <!-- breadcrumb -->
            <app-breadcrumb [title]="breadscrum.title" [items]="breadscrum.items" [active_item]="breadscrum.active">
            </app-breadcrumb>
        </div>
        <div class="row clearfix">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                    <div class="header">
                        <!-- <h2>Create Course</h2> -->

                    </div>
                    <form [formGroup]="courseKitForm" >
                        <div class="body m-4">
                            <div class="row">
                                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                                    <label>Course Kit Name <span class="mandatory">&nbsp;*</span></label>
                                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                                        <!-- <mat-label>Course Name</mat-label> -->
                                    
                                        <input matInput type="text" id="name" formControlName="name" class="form-control" required>
                                        <mat-error *ngIf=" courseKitForm.get('name')?.invalid && courseKitForm.get('name')?.touched ">
                                            {{utils.getErrorMessage1(courseKitForm.get("name"), "coursekitName") }}
                                        </mat-error>
                                        <!-- <mat-error *ngIf="courseKitForm.get('name')?.hasError('required')">
                                            Enter Course Name
                                        </mat-error> -->
                                    </mat-form-field>
                                </div>
                                <!-- Document Field or ppt to pdf -->
<!-- <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2"
*ngIf="labelStatusCheck('Document')"
>
    <label>Document</label>
    <div class="file-drop-area1">
        <div class="file1">
            <button mat-raised-button color="primary" class="btn">Choose file 
                <input formControlName="documentLink" (change)="onFileUpload($event)" class="file-input" type="file">
            </button>
            <span class="file-msg">
                <h6>{{uploadedDocument ? uploadedDocument : 'Drag and Drop File Here' }}</h6>
            </span>
        </div>
    </div> -->


    <!-- <mat-error class="error" *ngIf="courseKitForm.get('documentLink')?.touched">
        {{utils.getErrorMessage1(courseKitForm.get("documentLink"), "document") }}
    </mat-error> -->


<!-- </div> -->
<!-- Document Field or ppt to pdf -->
<div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2" *ngIf="labelStatusCheck('Document')">
    <label>Document</label>
    <div class="file-drop-area1">
      <div class="file1">
        <button mat-raised-button color="primary" class="btn">
          Choose file
          <input formControlName="documentLink" (change)="onFileUpload($event)" class="file-input" type="file">
        </button>
        <span class="file-msg">
          <h6>{{uploadedDocument ? uploadedDocument : 'Drag and Drop File Here'}}</h6>
        </span>
      </div>
    </div>
  </div>
  

                                <!-- <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                                    <label>Document<span class="mandatory">&nbsp;*</span></label>
                                    <div class="file-drop-area1">
                                        <div class="file1">
                                        <button mat-raised-button color="primary" class="btn">Choose file <input formControlName="documentLink" (change)="onFileUpload($event)" class="file-input" type="file"></button>
                                        <span class="file-msg"><h6>{{uploadedDocument ? uploadedDocument : 'Drag and Drop File Here' }}</h6></span>
                                     </div>
                                     
                                    </div>
                                    <mat-error class="error" *ngIf=" courseKitForm.get('documentLink')?.invalid && courseKitForm.get('documentLink')?.touched ">
                                        {{utils.getErrorMessage1(courseKitForm.get("documentLink"), "document") }}
                                    </mat-error>
                                </div> -->

                                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2"
                                 *ngIf="labelStatusCheck('Short Description')">
                                    <label>Short Description</label>
                                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                                        <!-- <mat-label>Course Name</mat-label> -->

                                        <input matInput type="text" id="name" formControlName="shortDescription"
                                            class="form-control"   >
                                            <mat-error *ngIf=" courseKitForm.get('shortDescription')?.invalid && courseKitForm.get('shortDescription')?.touched ">
                                                {{utils.getErrorMessage1(courseKitForm.get("shortDescription"), "shortDescription") }}
                                            </mat-error>
                                        <!-- <mat-error *ngIf="courseKitForm.get('shortDescription')?.hasError('required')">
                                            Enter Short Description
                                        </mat-error> -->
                                    </mat-form-field>
                                </div>

                                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2" 
                                *ngIf="labelStatusCheck('Long Description')">
                                    <label>Long Description</label>
                                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                                        <!-- <mat-label>Course Name</mat-label> -->

                                        <input matInput type="text" id="name" formControlName="longDescription"
                                            class="form-control"  >
                                            <mat-error *ngIf=" courseKitForm.get('longDescription')?.invalid && courseKitForm.get('longDescription')?.touched ">
                                                {{utils.getErrorMessage1(courseKitForm.get("longDescription"), "longDescription") }}
                                            </mat-error>
                                        <!-- <mat-error *ngIf="courseKitForm.get('longDescription')?.hasError('required')">
                                            Enter Long Description
                                        </mat-error> -->
                                    </mat-form-field>
                                </div>

                                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-5" *ngIf="labelStatusCheck('Upload Media')">
                                    <label>Upload Media </label>
                                    <div class="file-drop-area">
                                      <div class="file">
                                      <button mat-raised-button color="primary" class="btn">Choose file  <input formControlName="videoLink" (fileDropped)="onFileDropped($event)" (change)="fileBrowseHandler($event)"  class="file-input" type="file"></button>
                                      <span class="file-msg"><h6>{{videoSrc ? videoSrc : 'Drag and Drop File Here' }}</h6></span>

                                      <div class="files-list">
                                          <div class="single-file" *ngFor="let file of files; let i = index">
                                              <img src="../../assets/images/dnd/ic-file.svg" alt="" class="file-icon" />
                                              <div class="infos">
                                                  <p class="name">{{ file?.name }}</p>
                                                  <!-- <p class="size">{{ formatBytes(file?.size) }}</p> -->
                                                  <!-- <app-progress [progress]="file?.progress"></app-progress> -->
                                              </div>
                                              <!-- <img
                                              src="../../assets/images/dnd/ic-delete-file.svg"
                                              class="delete"
                                              width="20px"
                                              alt="file"

                                            /> -->
                                          </div>
                                      </div>
                                      </div>
                                     
                                      <!-- <mat-error *ngIf="courseKitForm.get('videoLink')?.hasError('required')">
                                        Select Vide File
                                     </mat-error> -->
                                    </div>
                                    <mat-error class="error" *ngIf=" courseKitForm.get('videoLink')?.invalid && courseKitForm.get('videoLink')?.touched ">
                                        {{utils.getErrorMessage1(courseKitForm.get("videoLink"), "media") }}
                                    </mat-error>
                                    <!-- <app-file-upload formControlName="videoLink" (fileDropped)="onFileDropped($event)" (change)="fileBrowseHandler($event)"></app-file-upload> -->
                                  </div>
                            </div>
                              <!-- <div class="row">
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                                    <label>Video Start Date</label>
                                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                                        <input
                                        matInput
                                        [owlDateTimeTrigger]="date"
                                        [owlDateTime]="date"
                                        formControlName="startDate"

                                      />
                                      <mat-icon
                                        matSuffix
                                        [owlDateTimeTrigger]="date"
                                        class="date-icon"
                                        >today</mat-icon
                                      >
                                      <owl-date-time #date></owl-date-time>

                                    </mat-form-field>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                                    <label>Video End Date<span class="mandatory">&nbsp;*</span></label>
                                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                                        <input
                                        matInput
                                        [owlDateTimeTrigger]="date2"
                                        [owlDateTime]="date2"
                                        formControlName="endDate"

                                      />
                                      <mat-icon
                                        matSuffix
                                        [owlDateTimeTrigger]="date2"
                                        class="date-icon"
                                        >today</mat-icon
                                      >
                                      <owl-date-time #date2></owl-date-time>

                                        <mat-error *ngIf="courseKitForm.get('endDate')?.hasError('required')">
                                            End Date should be greater than Start Date.
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div> -->

                        </div>
                    </form>
                    <div class="row body">
                        <div class="col-md-10">
                          <button mat-raised-button id="back" [routerLink]="['/admin/courses/course-kit']">Back</button>
                        </div>
                        <div class="col-md-2">
                          <!-- <div class="d-grid d-md-flex"> -->
                          <!-- <button mat-button id="submit" (click)="submitCourseKit()" >Submit</button> -->
                          <button mat-raised-button id="submit" (click)="submitCourseKit1()" >Create</button>
                          <!-- </div> -->
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
</section>
