.bg {
  fill: #000;
  background-color: #d3cdcd;
}
.color{
  color:#6777ef
}
svg {
  position: absolute;
  fill: #000;
  background-color: #d3cdcd;
  margin-top: -15px;
  margin-left: -15px;
  border-radius: 10px;
  padding-left: 3px;
  padding-right: 3px;
}
// .name {
//   color: deepskyblue;
//   font-weight: 500;
// }

// .email-address {
//   overflow: hidden;
//   text-overflow: ellipsis;
//   white-space: nowrap;
// }

// .custom-cell {
//   background-color: #f0f0f0; // Light background color
// }

// .success .status-text {
//   color: green; // Text color for success
//   background-color: #d4edda; // Background color for success text
// }

// .fail .status-text {
//   color: red; // Text color for failure
//   background-color: #f8d7da; // Background color for failure text
// }

// .status-text {
//   padding: 2px 5px; // Adjust padding as needed
//   border-radius: 8px; // Add some border radius for rounded corners
// }

// .custom-cell {
//   background-color: #f0f0f0; // Light background color for the cell
// }

// .success {
//   .status-container {
//       background-color: #d4edda; // Background color for success
//   }

//   .status-dot {
//       background-color: green; // Color of the dot for success
//   }
// }

// .fail {
//   .status-container {
//       background-color: #f8d7da; // Background color for failure
//   }

//   .status-dot {
//       background-color: red; // Color of the dot for failure
//   }
// }

// .status-container {
//   display: inline-block;
//   padding: 2px 5px; // Adjust padding as needed
//   border-radius: 5px; // Rounded corners for the background
// }

// .status-dot {
//   width: 8px;
//   height: 8px;
//   border-radius: 50%; // To make it a circle
//   display: inline-block;
//   margin-right: 5px; // Space between dot and text
// }

// .mat-cell {
//   width: fit-content;
//   height: 1px;
//   border-color: white;
//   align-self: stretch;
// }
// .mat-header-cell {
//   color: white;
//   background-color: #000046;
//   padding: 20px;
//   border-color: white;
//   align-self: stretch;
// }

::ng-deep .mat-sort-header-content {
  text-align: center !important; 
  display: flex !important;
  align-items: center !important;
  white-space: nowrap;
}
::ng-deep .mat-column-Price {
  display: flex !important;
  justify-content: flex-end !important;
  margin-left: -60px;
}
:host ::ng-deep mat-cell{
  min-width: 150px;
}
.payment-cell{
  padding-right: 30px;
}
