mat-cell {
    button {
      margin-right: 8px; // Add some spacing between buttons
  
      &.mat-primary {
        background-color: #3f51b5; // Primary background color (can be customized)
        color: white; // Text color for contrast
      }
  
      &.mat-warn {
        background-color: #f44336; // Warning background color (can be customized)
        color: white; // Text color for contrast
      }
    }
  }
  .materialTableHeader {
    display: flex;
    justify-content: flex-end;
  }